/* AG Grid
========================================================================== */
.header-hidden {
    display: none;
}
.empty-input {
    border: 1px solid #000;
    border-radius: 4px;
}
.colspan {
    .ag-header {
        height: 48px !important;
        min-height: 48px !important;
    }
    .ag-column-first,
    .colspan {
        height: 48px !important;
    }
}

