/* Typography
========================================================================== */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: lighter;
  src: url('../fonts/noto-sans-kr-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-kr-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-kr-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-sans-kr-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: bolder;
  src: url('../fonts/noto-sans-kr-800.woff2') format('woff2');
}

// $theme-colors-text: (
//   "primary": $primary-text-emphasis,
//   "secondary": $secondary-text-emphasis,
//   "success": $success-text-emphasis,
//   "info": $info-text-emphasis,
//   "warning": $warning-text-emphasis,
//   "danger": $danger-text-emphasis,
//   "light": $light-text-emphasis,
//   "dark": $dark-text-emphasis,
// );