<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AG Grid</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>
    <article class="guide-contents">
        <div class="title">
            <h3>AG Grid</h3>
        </div>
        <div class="text-box">
            <ol>
                <li>라이브러리 : <a href="https://ag-grid.com/" target="_blank">https://ag-grid.com/</a></li>
            </ol>
        </div>
        <h4>normal, row checkbox</h4>
        <div id="normalGrid" class="normal"></div>
        <br /><br />
        <h4>순번, checkbox</h4>
        <div id="indexGrid" class="normal"></div>
        <br /><br />
        <h4>header colspan</h4>
        <div id="colspanGrid" class="normal"></div>
        <br /><br />
        <h4>rowspan</h4>
        <div id="rowspanGrid" class="normal row-merge-grid"></div>
        <br /><br />
        <h4>multi grid : cell merge, 버튼 생성, 팝업 이벤트, datepicker</h4> 
        <div id="multiGrid" class="normal row-merge-grid"></div>
        <br /><br />
        <h4>no Data</h4>
        <div id="noDataGrid" class="normal"></div>
    </article>
    <script type="module" src="../../../assets/js/grid/normalGrid.js"></script>
    <script type="module" src="../../../assets/js/grid/indexGrid.js"></script>
    <script type="module" src="../../../assets/js/grid/colspanGrid.js"></script>
    <script type="module" src="../../../assets/js/grid/rowspanGrid.js"></script>
    <script type="module" src="../../../assets/js/grid/multiGrid.js"></script>
    <script type="module" src="../../../assets/js/grid/noDataGrid.js"></script>
</body>
</html>