<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AG Grid</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>
    <article class="guide-contents">
        <div class="title">
            <h3>AG Grid</h3>
        </div>
        <h4>normal</h4>
        <div id="normalGrid" class="normal"></div>
        <h4>colspan</h4>
        <div id="colspanGrid" class="normal"></div>
        <h4>rowspan</h4>
        <div id="rowspanGrid" class="normal"></div>
        <h4>input form</h4> 
        <div id="inputGrid" class="normal"></div>
    </article>
    <script type="module" src="../../../assets/js/grid/guide.js"></script>
</body>
</html>
