<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재컴퍼넌트</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>

<body>
    <article class="guide-contents">
        <div class="title">
            <h3>결재컴퍼넌트</h3>
        </div>
        <!-- 결재 컴퍼넌트 영역 -->
        <div class="approve">
            <!-- 결재 컴퍼넌트 영역 -->
            <div class="approve">
                <div class="approve-sec">
                    <div class="title-wrap">
                        <h6 class="sec-tit">결재정보</h6>
                    </div>
                    <!-- input form -->
                    <div class="input-form-area">
                        <!-- form start -->
                        <form>
                            <fieldset>
                                <!-- form-wrap start -->
                                <div class="form-wrap type02">
                                    <!-- row -->
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-label">기안일</div>
                                            <div class="form-group">
                                                <div class="input-txt"><!-- 텍스트 영역 --></div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!--// row end-->
                                </div>
                                <!--// form-wrap end -->
                            </fieldset>
                        </form>
                        <!-- form end -->
                    </div>
                    <!--// input form -->
                </div>
            
                <div class="approve-sec">
                    <!-- title -->
                    <div class="title-wrap">
                        <h6 class="sec-tit">결재상태</h6>
                    </div>
                    <!--// title -->

                    <!-- 결재상태 -->
                    <div class="process-status">
                    <!-- step start -->
                    <div class="process-status">
                        <!-- step start -->
                        <div class="step step-lg">
                            <ul class="step-list">
                                <li class="step-current">
                                    <dl>
                                        <dt><i class="step-img"></i></dt>
                                        <dd class="txt">기안자</dd>
                                        <dd class="txt">계전보안부 이현경</dd>
                                    </dl>
                                </li>
                                <li class="step-default">
                                    <dl>
                                        <dt><i class="step-img"></i></dt>
                                        <dd class="txt">관리부서 차(팀)장</dd>
                                        <dd class="txt">계전보안부 최원태</dd>
                                    </dl>
                                </li>
                                <li class="step-done">
                                    <dl>
                                        <dt><i class="step-img"></i></dt>
                                        <dd class="txt">제어보호담당자</dd>
                                        <dd class="txt">계전보안부 오승환</dd>
                                    </dl>
                                </li>
                                <li class="step-reject">
                                    <dl>
                                        <dt><i class="step-img"></i></dt>
                                        <dd class="txt">제어보호담당관</dd>
                                        <dd class="txt">계전보안부 김현수</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                        <!-- step end -->
                    </div>
                    <!-- step end -->
                    </div>
                    <!--// 결재상태 -->
                </div>
            
                <div class="approve-sec type01">
                    <!-- title -->
                    <div class="title-wrap">
                        <h6 class="sec-tit">결재진행</h6>
                    </div>
                    <!--// title -->

                    <!-- input form -->
                    <div class="input-form-area">
                        <!-- form start -->
                        <form>
                            <fieldset>
                                <!-- form-wrap start -->
                                <div class="form-wrap type02">
                                    <!-- row -->
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-label">제어보호담당관</div>
                                            <div class="form-group">
                                                <div class="input-txt">김현수</div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-label">결재일자</div>
                                            <div class="form-group">
                                                <div class="input-txt center">2024.12.12 11:30:24</div>
                                            </div>
                                            <div class="form-group">
                                                <!-- badge 영역 -->
                                                <div class="input-badge-group center">
                                                    <span class="badge badge-type02">결제 반려</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-label">제어보호담당자</div>
                                            <div class="form-group">
                                                <!-- input-search-group is-error -->
                                                <div class="input-search-group">
                                                    <input type="search" class="form-control" id="search1" value="오승환" placeholder="제어보호담당자 입력">
                                                    <label class="input-group-text" for="search1"><i class="icon search"></i></label>
                                                </div>
                                                <!--// input search group -->
                                                <!-- 에러 문구 :  hidden 제거 -->
                                                <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                                <!--// 에러 문구 -->
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-label">결재일자</div>
                                            <div class="form-group">
                                                <div class="input-txt center">2024.12.12 11:30:24</div>
                                            </div>
                                            <div class="form-group">
                                                <!-- badge 영역 -->
                                                <div class="input-badge-group center">
                                                    <span class="badge badge-type01">기완완료</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row -->
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-label">기안자</div>
                                            <div class="form-group">
                                                <!-- input-search-group is-error -->
                                                <div class="input-search-group">
                                                    <input type="search" class="form-control" id="search1" value="이현경" placeholder="관리부서 차(팀)장 입력">
                                                    <label class="input-group-text" for="search1"><i class="icon search"></i></label>
                                                </div>
                                                <!--// input search group -->
                                                <!-- 에러 문구 :  hidden 제거 -->
                                                <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                                <!--// 에러 문구 -->
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-label">기안일자</div>
                                            <div class="form-group">
                                                <div class="input-txt center">2024.12.12 11:30:24</div>
                                            </div>
                                            <div class="form-group">
                                                <!-- badge 영역 -->
                                                <div class="input-badge-group center">
                                                    <span class="badge badge-type01">기완완료</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--// row end-->
                                </div>
                                <!--// form-wrap end -->
                            </fieldset>
                        </form>
                        <!-- form end -->
                    </div>
                    <!--// input form -->
                </div>
            </div>
            <!--// 결재 컴퍼넌트 영역 -->
        </div>
    </article>
</body>

</html>