<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Badges</title>
        <!-- css -->
        <link rel="stylesheet" href="../../../css/index.css">
        <!-- script -->
        <script type="module" src="../../../assets/js/common.js"></script>
    </head>
    <body>
        <article class="guide-contents">
            <div class="title">
                <h3>Badges</h3>
            </div>
            <div class="cont-box">
                <span class="badge badge-type01">기완완료</span>
                <span class="badge badge-type02">결재반려</span>
            </div>
        </article>
    </body>
    </html>