<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>box</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
    <!-- script -->
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Box</h3>
		</div>
        <h4>cont box</h4>
        <div class="cont-box">
            content box
        </div>
    </article>
</body>
</html>