<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title/breadcrumbs</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Breadcrumbs / Title</h3>
		</div>
        <h4>Breadcrumbs</h4>
        <!-- breadcrumbs start -->
        <nav id="breadcrumb" class="breadcrumb-wrap" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">홈</a></li>
                <li class="breadcrumb-item"><a href="#">관리보안</a></li>
                <li class="breadcrumb-item active" aria-current="page">월간사이버보안점검</li>
            </ol>
        </nav>
        <!--// breadcrumbs end -->

        <!-- page title start -->
        <div class="page-title-wrap">
            <h1 class="h-tit">page title : h1 .h-tit</h1>
        </div>
        <!--// page title end -->

        <!-- section tit start -->
        <div class="title-wrap">
            <h3 class="sec-tit">section title : h3 .sec-tit</h3>
        </div>
        <!--// section tit end -->
    </article>
</body>
</html>