<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title/breadcrumbs</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <!-- <script type="module" src="../../../assets/js/common.js"></script> -->
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Breadcrumbs</h3>
		</div>
        <!-- breadcrumbs start -->
        <nav id="breadcrumb" class="breadcrumb-wrap" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">depth01</a></li>
                <li class="breadcrumb-item"><a href="#">depth02</a></li>
                <li class="breadcrumb-item active" aria-current="page">depth03</li>
            </ol>
        </nav>
        <!--// breadcrumbs end -->
        <div class="cont-box">
<textarea style="height: 170px;">
<!-- html -->
<nav id="breadcrumb" class="breadcrumb-wrap" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">depth01</a></li>
        <li class="breadcrumb-item"><a href="#">depth02</a></li>
        <li class="breadcrumb-item active" aria-current="page">depth03</li>
    </ol>
</nav></textarea>
        </div>
        <h4>data-visible true, false 로 히든 처리</h4>
        <div class="cont-box">
<textarea style="height: 130px;">
<!-- 컴퍼넌트 -->
<nav id="breadcrumb" class="breadcrumb-wrap" aria-label="breadcrumb" data-breadcrumb='[
    { "name": "관리보안", "url": "#" },
    { "name": "월간 사이버 보안점검", "url": "", "active": true }
]' data-visible="false">
</nav></textarea>
        </div>
    </article>
</body>
</html>