<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkbox/radio</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body class="guide">
    <article class="guide-contents">
        <div class="title">
			<h3>Checkbox/Radio/Switch</h3>
		</div>
         <div class="tbl-wrap">
             <table class="tbl">
                <caption>입력 필드</caption>
                <colgroup>
                    <col width="10%" />
                    <col width="30%" />
                    <col width="30%" />
                    <col width="30%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>default</th>
                        <th>checked</th>
                        <th>disable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Checkbox</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  default
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input active" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  checked
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                                <label class="form-check-label" for="flexCheckDisabled">
                                    disable
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                                <label class="form-check-label" for="flexCheckCheckedDisabled">
                                    checked disable
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Inline / All Checkbox</th>
                        <td>
                            <!-- form-check-group -->
                            <div class="form-check-group">
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="selectAllCheckbox" name="selectAllCheckbox">
                                    <label for="selectAllCheckbox">전체</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox01" name="checkbox01">
                                    <label for="checkbox01">고양</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox02" name="checkbox02">
                                    <label for="checkbox02">김해</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox03" name="checkbox03">
                                    <label for="checkbox03">마포</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox04" name="checkbox04">
                                    <label for="checkbox04">목동</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox05" name="checkbox05">
                                    <label for="checkbox05">부천</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox06" name="checkbox06">
                                    <label for="checkbox06">분당</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox07" name="checkbox07">
                                    <label for="checkbox07">수원</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox08" name="checkbox08">
                                    <label for="checkbox08">용인</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox09" name="checkbox09">
                                    <label for="checkbox09">청주</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox10" name="checkbox10">
                                    <label for="checkbox10">파주</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox11" name="checkbox11">
                                    <label for="checkbox11">판교</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input checkboxes" type="checkbox" id="checkbox12" name="checkbox12">
                                    <label for="checkbox12">화성</label>
                                </div>
                            </div>
                            <!--// form-check-group -->
                            <script type="module" src="../../../assets/js/components/checkbox.js"></script>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Checkbox Button </th>
                        <td>
                            <div class="form-check-group">
                                <input class="btn btn-grid" type="checkbox" id="btntype" name="btntype">
                                <label for="btntype">Select All</label>
                            </div>
                        </td>
                        <td></td>
                        <td>
                            <div class="form-check-group">
                                <input class="btn btn-grid" type="checkbox" id="btntype" name="btntype" disabled>
                                <label for="btntype">Select All</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Radio</th>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="radio01" name="drone1" value="radio01" />
                                <label for="radio01">radio</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="radio02" name="drone2" value="radio02" checked />
                                <label for="radio02">radio  checked</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="radio03" name="drone3" value="radio03" disabled />
                                <label for="radio03">radio disabled</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="radio04" name="drone4" value="radio04" checked disabled />
                                <label for="radio04">radio  checked disabled</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Switch</th>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckSwitch">
                                <label class="form-check-label" for="flexSwitchCheckSwitch">Default switch checkbox input</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckSwitchChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckSwitchChecked">Default switch checkbox input</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckSwitchDisabled" disabled>
                                <label class="form-check-label" for="flexSwitchCheckSwitchDisabled">Default switch checkbox input</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
             </table>
        </div>
    </article>
</body>
</html>