<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Footer</h3>
		</div>
       
        <div class="cont-box">
            <textarea>
 <footer>
    <small>
        Copyright © 2023 Football History Archives. All Rights Reserved.
    </small>
</footer>
            </textarea>
        </div>
        
    </article>
</body>
</html>