<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/agGrid.css">
    <link rel="stylesheet" href="../../../css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="../../../css/style.css?v=20250616"><!-- 버전 관리 적용 -->
</head>
<body class="guide">
    <article class="guide-contents">
        <div class="title">
			<h3>Header</h3>
		</div>
        <!-- header 영역 -->
        <header id="kdhc-header">
            <h2 class="logo">
                <a href="../home/SB-USR-001.html" class="logo-img" data-title="한국지역난방공사">한국지역난방공사</a>
                <a href="../home/SB-USR-001.html" class="logo-txt" data-title="제어망 스마트 보안관리 플랫폼">제어망 스마트 보안관리 플랫폼</a>
            </h2>
            <div class="gnb">
                <ul class="util">
                    <li class="util-01"><a href="#" data-title="결재관리">결재관리</a></li>
                    <li class="util-02"><a href="#" data-title="정기점검">정기점검</a></li>
                    <li class="util-03"><a href="#" data-title="지침 및 매뉴얼">지침 및 매뉴얼</a></li>
                    <li class="util-04 user"><a href="#" data-title="홍길동 과장">홍길동 과장<em>계전보안부</em></a></li>
                </ul>
                <div class="header-action">
                    <button type="button" class="btn btn-link">비밀번호변경</button>
                    <button type="button" class="btn btn-link">로그아웃</button>
                </div>
                <nav class="nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-title="관리보안">관리보안</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-title="물리보안">물리보안</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-title="기술보안">기술보안</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-title="보안정책">보안정책</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-title="클린PC">클린PC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-title="정보자산">정보자산</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-title="관리자">관리자</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!--// header 영역 -->
<div class="cont-box">
<textarea style="width: 1000px; height: 300px;">
<!-- html -->
<header id="kdhc-header">
    <h2 class="logo">
        <a href="../home/SB-USR-001.html" class="logo-img" data-title="한국지역난방공사">한국지역난방공사</a>
        <a href="../home/SB-USR-001.html" class="logo-txt" data-title="제어망 스마트 보안관리 플랫폼">제어망 스마트 보안관리 플랫폼</a>
    </h2>
    <div class="gnb">
        <ul class="util">
            <li class="util-01"><a href="#" data-title="결재관리">결재관리</a></li>
            <li class="util-02"><a href="#" data-title="정기점검">정기점검</a></li>
            <li class="util-03"><a href="#" data-title="지침 및 매뉴얼">지침 및 매뉴얼</a></li>
            <li class="util-04 user"><a href="#" data-title="홍길동 과장">홍길동 과장<em>계전보안부</em></a></li>
        </ul>
        <div class="header-action">
            <button type="button" class="btn btn-link">비밀번호변경</button>
            <button type="button" class="btn btn-link">로그아웃</button>
        </div>
        <nav class="nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-title="관리보안">관리보안</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-title="물리보안">물리보안</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-title="기술보안">기술보안</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-title="보안정책">보안정책</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-title="클린PC">클린PC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-title="정보자산">정보자산</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-title="관리자">관리자</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</textarea>
</div>
<div class="cont-box">
<textarea style="width: 1000px; height: 200px;">
<header id="kdhc-header" data-menu='[
            { "title": "관리보안", "url": "../usr/SB-USR-012.html" },
            { "title": "물리보안", "url": "../usr/SB-USR-021.html" },
            { "title": "기술보안", "url": "../usr/SB-USR-024.html" },
            { "title": "보안정책", "url": "../usr/SB-USR-054.html" },
            { "title": "클린PC", "url": "../usr/SB-USR-059.html" },
            { "title": "정보자산", "url": "../usr/SB-USR-074.html" },
            { "title": "관리자", "url": "#", "active": true }]'>
    <script type="module" src="../../assets/js/layouts/header.js"></script>
</header>
</textarea>
</div>
    </article>
</body>
</html>