<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Header</h3>
		</div>
        <div class="cont-box">
            <textarea>
<header>

</header>                
            </textarea>
        </div>
    </article>
</body>
</html>