<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icons</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Icons</h3>
		</div>
        <div class="tbl-wrap">
             <table class="tbl icon-tbl">
                <caption>아이콘 리스트</caption>
                <colgroup>
                    <col width="10%" />
                    <col />
                    <col width="10%" />
                    <col />
                    <col width="10%" />
                    <col />
                    <col width="10%" />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>img</th>
                        <th>name</th>
                        <th>img</th>
                        <th>name</th>
                        <th>img</th>
                        <th>name</th>
                        <th>img</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            logo
                        </th>
                        <td>
                            <i class="icon h1-logo"></i>
                            <xmp><i class="icon h1-logo"></i></xmp>
                        </td>
                        <th>
                            header util
                        </th>
                        <td>
                            <i class="icon top-clipboard"></i>
                            <xmp><i class="icon top-clipboard"></i></xmp>
                            <i class="icon calendar-check"></i>
                            <xmp><i class="icon calendar-check"></i></xmp>
                            <i class="icon file-check"></i>
                            <xmp><i class="icon file-check"></i></xmp>
                            <i class="icon user-circle"></i>
                            <xmp><i class="icon user-circle"></i></xmp>
                        </td>
                        <th>
                            lnb
                        </th>
                        <td>
                            <div style="background-color: #000;">
                                <i class="icon arrow-expansion"></i>
                            </div>
                            <xmp><i class="icon arrow-expansion"></i></xmp>
                            <div style="background-color: #000;">
                                <i class="icon arrow-close"></i>
                            </div>
                            <xmp><i class="icon arrow-close"></i></xmp>
                        </td>
                        <th>
 
                        </th>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <th>calendar(datepicker)</th>
                        <td>
                            <i class="icon calendar"></i>
                            <xmp><i class="icon calendar"></i></xmp>
                        </td>
                        <th>arrow-down(selctbox)</th>
                        <td>
                            <i class="icon arrow-down"></i>
                            <xmp><i class="icon arrow-down"></i></xmp>
                        </td>
                        <th>search(input)</th>
                        <td>
                            <i class="icon search"></i>
                            <xmp><i class="icon search"></i></xmp>
                        </td>
                        <th>checked(checkbox)</th>
                        <td>
                            <div style="background-color: #000;">
                                <i class="icon checked"></i>
                            </div>
                            <xmp><i class="icon checked"></i></xmp>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            checked-disabled(checkbox)
                        </th>
                        <td>
                            <i class="icon checked-disabled"></i>
                            <xmp><i class="icon checked-disabled"></i></xmp>
                        </td>
                        <th>
                            radio-checked(radio)
                        </th>
                        <td>
                            <i class="icon radio-checked"></i>
                            <xmp><i class="icon radio-checked"></i></xmp>
                        </td>
                        <th>
                            close(popup)
                        </th>
                        <td>
                            <div style="background-color: #000;">
                                <i class="icon close"></i>
                            </div>
                            <xmp><i class="icon close"></i></xmp>
                        </td>
                        <th>
                            
                        </th>
                        <td>
                            <i class="icon"></i>
                            <xmp><i class="icon"></i></xmp>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            step-doc
                        </th>
                        <td>
                            <div style="background-color: #000;">
                                <i class="icon step-doc"></i>
                            </div>
                            <xmp><i class="icon step-doc"></i></xmp>
                        </td>
                        <th>
                            step-reject 
                        </th>
                        <td>
                            <div style="background-color: #000;">
                                <i class="icon step-reject"></i>
                            </div>
                            <xmp><i class="icon step-reject"></i></xmp>
                        </td>
                        <th>
                            step-check 
                        </th>
                        <td>
                            <div style="background-color: #000;">
                                <i class="icon step-check"></i>
                            </div>
                            <xmp><i class="icon step-check"></i></xmp>
                        </td>
                        <th>
                            
                        </th>
                        <td>
                            <i class="icon"></i>
                            <xmp><i class="icon"></i></xmp>
                        </td>
                    </tr>
                    <tr>
                        <th>
                                
                        </th>
                        <td>
                            <i class="icon"></i>
                            <xmp><i class="icon"></i></xmp>
                        </td>
                        <th>
                                
                        </th>
                        <td>
                            <i class="icon"></i>
                            <xmp><i class="icon"></i></xmp>
                        </td>
                        <th>
                                
                        </th>
                        <td>
                            <i class="icon"></i>
                            <xmp><i class="icon"></i></xmp>
                        </td>
                        <th>
                                
                        </th>
                        <td>
                            <i class="icon"></i>
                            <xmp><i class="icon"></i></xmp>
                        </td>
                    </tr>
                </tbody>
             </table>
        </div>
    </article>
</body>
</html>