<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
</head>
<body class="guide">
    <article class="guide-contents">
        <div class="title">
			<h3>List</h3>
		</div>
        <h4>ul</h4>
        <div class="cont-box">
            <textarea class="sm">
<ul class="ulist">
    <li><a href="#" class="link">1. (안내사항) 정보 보안 교육을 연 1회 이상</a></li>
    <li class="bold"><a href="#" class="link">제10장 협력업체 보안대책</a></li>
    <li><a href="#" class="link">별지 제20호 자료 인계인수 대장</a></li>
</ul>
            </textarea>
        </div>
        <h4>ol</h4>
        <div class="cont-box">
            <textarea class="sm">
<ol class="olist number">
    <li class="item">
        <span class="txt">플랜트 제어.감시시스템 정보보안 지침이 개정 되었습니다.</span>
        <span class="date">2025-02-11</span>
    </li>
    <li class="item">
        <span class="txt">취약점 분석 평가 일정안내</span>
        <span class="date">2025-02-11</span>
    </li>
</ol></textarea>
        </div>
        <h4>dl</h4>
        <div class="cont-box">
            <textarea>
<dl class="dlist type01">
    <dt class="tit">정보자산관리</dt>
    <dd class="item">
        <!--  -->
        <div class="item-cont">
            <div class="txt">자산정보관리</div>
            <div class="action">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="자산정보관리">
                    <label class="form-check-label hidden" for="자산정보관리">자산정보관리</label>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="item-cont">
            <div class="txt">노트북사용</div>
            <div class="action">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="노트북사용">
                    <label class="form-check-label hidden" for="노트북사용">노트북사용</label>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="item-cont">
            <div class="txt">노트북사용내역</div>
            <div class="action">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="노트북사용내역">
                    <label class="form-check-label hidden" for="노트북사용내역">노트북사용내역</label>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="item-cont">
            <div class="txt">정보자산반출입내역</div>
            <div class="action">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="정보자산반출입내역">
                    <label class="form-check-label hidden" for="정보자산반출입내역">정보자산반출입내역</label>
                </div>
            </div>
        </div>
        <!--  -->
    </dd>
</dl>
            </textarea>
        </div>
    </article>
</body>
</html>