<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loader</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/agGrid.css">
    <link rel="stylesheet" href="../../../css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../../css/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="../../../css/style.css?v=20250616"><!-- 버전 관리 적용 -->
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
    
</head>
<body class="guide">
    <article class="guide-contents">
        <div class="title">
			<h3>Loader</h3>
		</div>
        <!-- loader -->
        <div class="loader-wrap">
            <div class="loader">진행중</div>
        </div>
        <!--// loader -->
    </article>
</body>
</html>