<!DOCTYPE html>
<html lang="ko" data-kdhc-mode="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDHC</title>
    <link rel="icon" href="../../assets/favicon.svg" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>

<body>
    <div id="pop-wrap" class="kdhc-pop-wrap small">
        <header class="kdhc-pop-header">
            <h1 class="pop-title" id="staticBackdropLabel">팝업 타이틀 : small</h1>
            <button type="button" class="btn-close" aria-label="Close" onclick="window.close()"></button>
        </header>
        <!-- 팝업 컨테이너 영역 -->
        <section class="kdhc-pop-container not-footer">
            <div class="inner">
                <!-- 팝업 컨텐츠 영역 -->
                <div class="contents">
                    <!-- 컨텐츠 들어 가는 곳 -->
                </div>
            </div>
            <!--// 팝업 컨텐츠 영역 -->
    </div>
    </section>
    <!--// 팝업 컨테이너 영역 -->
    <!-- <footer class="kdhc-pop-footer">
            <div class="inner">
                <button type="button" class="btn btn-secondary btn-md">저장</button>
            </div>
        </footer> -->
    </div>
    <!-- script wrap -->

    <!--// script wrap -->
</body>

</html>