<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>popup</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body class="guide">
    <article class="guide-contents">
        <div class="title">
			<h3>Popup</h3>
		</div>
        <div class="text-box">
			<ol>
				<li>팝업 사이즈
                    <ul>
                        <li>small: 600 * 500</li>
                        <li>medium: 800 * 500</li>
                        <li>large: 1440 * 1080</li>
                    </ul>
                </li>
				<li> 여백 규칙
					<ul>
						<li>내부 패딩: 최소 24px</li>
						<li>외부 마진: 최소 24px</li>
					</ul>
				</li>
			</ol>
		</div>
        <div class="cont-box">
            <button class="btn btn-primary btn-lg" id="small-btn">small</button>
            <button class="btn btn-primary btn-lg" id="medium-btn">medium</button>
            <button class="btn btn-primary btn-lg" id="large-btn">large</button>
            <button class="btn btn-primary btn-lg" id="popup01">사이즈 지정</button>
        </div>
    </article>
    <script type="module">
        import { setupPopupListeners, openCenteredPopup } from '../../../assets/js/components/popup.js';
    
        const urlList = {
            small: './popup-sm.html',
            medium: './popup-md.html',
            large: './popup-lg.html',
        };

        setupPopupListeners(urlList);

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('popup01').addEventListener('click', () => {
                const url = './popup-sm.html';
                openCenteredPopup(url, 600, 300);
            });
        });
    </script>
</body>
</html>