<!DOCTYPE html>
<html lang="ko" data-kdhc-mode="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDHC</title>
    <link rel="icon" href="../../assets/favicon.svg" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>

<body>
    <div id="pop-wrap" class="kdhc-pop-wrap">
        <header class="kdhc-pop-header">
            <h1 class="pop-title">팝업 타이틀 : lg</h1>
            <button type="button" class="btn-close" aria-label="Close" onclick="window.close()"></button>
        </header>
        <!-- 팝업 컨테이너 영역 -->
        <section class="kdhc-pop-container">
            <div class="inner">
                <!-- 팝업 컨텐츠 영역 -->
                <div class="contents">
                    <!-- breadcrumbs start -->
                    <nav id="breadcrumb" class="breadcrumb-wrap" aria-label="breadcrumb" data-breadcrumb='[
                        { "name": "depth01", "url": "#" },
                        { "name": "depth02", "url": "#" },
                        { "name": "depth03", "url": "", "active": true }
                        ]' data-visible="true">
                    </nav>
                    <!--// breadcrumbs end -->

                    <!-- section -->
                    <article class="section">
                        <!-- section tit start -->
                        <div class="title-wrap" data-title="팝업 타이틀" data-heading="h3"></div>
                        <!--// section tit end -->

                        <!-- 켄텐츠 들어 가는곳 -->
                        <!--// 켄텐츠 들어 가는곳 -->
                    </article>
                    <!--// section -->

                    <!-- section -->
                    <article class="section">
                      
                        <!-- bottom button area start -->
                        <div class="bottom-btn-area" data-buttons='[{"text": "회수"}, {"text": "결재"}]'>
                        </div>
                        <!--// bottom button area end -->
                    </article>
                    <!--// section -->

                </div>
                <!--// 팝업 컨텐츠 영역 -->
            </div>
        </section>
        <!--// 팝업 컨테이너 영역 -->
    </div>
</body>

</html>