<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Table</h3>
		</div>
        <h4>default</h4>
        <!-- default -->
        <div class="input-form-area">
            <!-- form start -->
            <form>
                <fieldset>
                    <table class="tbl-input-form">
                        <caption>점검항목</caption>
                        <colgroup>
                            <col width="7%" />
                            <col width="13%" />
                            <col width="45%" />
                            <col width="15%" />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>순 번</th>
                                <th colspan="2">점검항목</th>
                                <th>점검결과</th>
                                <th>조치사항</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <th rowspan="7" class="center">매월 시행</th>
                                <td>상주 유지보수 업체 보안점검</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">입력</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td>제어·감시시스템 대외비 자료관리 상태 점검(제어용 보안USB 포함)</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">입력</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td>제어·감시시스템 물리적 포트(USB, LAN) 잠금장치 상태 점검</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">입력</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>4</th>
                                <td>통제구역 內 무선망 사용여부 및 무단 설치된 비인가 무선시스템 점검</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">용도</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>5</th>
                                <td>제어·감시시스템 로그분석 현황 점검</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">용도</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>6</th>
                                <td>제어·감시시스템 원격 유지관리 및 운영 금지 현황 점점(RMS 포함)</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">용도</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>7</th>
                                <td>제어·감시시스템 보호를 위한 영상정보장치 점검표 기록 관리</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">입력</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>월별 변동</th>
                                <td colspan="2" class="center">월별 변동</td>
                                <td>
                                    <!-- select-group is-error -->
                                    <div class="select-group">
                                        <select class="form-select" aria-label="Default select" required>
                                            <option value="" selected>선택</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <!--// select-group -->
                                    <!-- 에러 문구 : hidden -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                                <td>
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="입력" value="">
                                        <label for="input-text" class="hidden">월별 변동</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                            <tr>
                                <th>종합 의견</th>
                                <td colspan="4">
                                    <!-- input-group is-error -->
                                    <div class="input-group">
                                        <input type="text" id="input-text" class="form-control" placeholder="종합 의견 입력" value="">
                                        <label for="input-text" class="hidden">입력</label>
                                    </div>
                                    <!--// input group -->
                                    <!-- 에러 문구 :  hidden 제거 -->
                                    <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                                    <!--// 에러 문구 -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
            <!--// form end -->
        </div>
        <!--// defaul  -->
        <h4>type-row</h4>
        <!-- type-row -->
        <table class="tbl-input-form type-row">
            <caption>특이사항 입력 폼</caption>
            <colgroup>
                <col width="160px" />
                <col width="*" />
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">특이사항</th>
                    <td>
                        <!-- textarea-group is-error -->
                        <div class="textarea-group h-100">
                            <textarea class="form-control" id="comment" placeholder="특이사항 내용"></textarea>
                        </div>
                        <!--// textarea -->
                        <!-- 에러 문구 : hidden 제거 -->
                        <p class="form-hint-invalid hidden">잘못 입력하였습니다.</p>
                        <!--// 에러 문구 -->
                    </td>
                </tr>
            </tbody>
        </table>
        <!--// type-row -->
    </article>
</body>
</html>