<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabs</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Tabs</h3>
		</div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <div>

          </div>
    </article>
</body>
</html>