<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css" />
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-treeview.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>

    <article class="guide-contents">
        <div class="title">
            <h3>Tree</h3>
        </div>
        <!-- tree -->
        <div class="flex-form">
            <div class="flex-form-left tree-view">
                <div id="treeview"></div>
            </div>
        </div>
        <!--// tree -->
    </article>
    <!-- script wrap -->
    <script type="module" src="../../../assets/js/components/treeView.js"></script>
    <script>
        var treeData = [
            {
                text: "관리보안",
                class: "depth1",
                href: "#root1",
                selectable: false,
                state: { expanded: true },
                nodes: [
                    { text: "자산정보세부현황", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "월간사이버보안점검", href: "#", icon: "tree-doc", class: "depth2 last-child" }
                ]
            },
            {
                text: "물리보안",
                class: "depth1",
                href: "#root2",
                selectable: false,
                nodes: [
                    { text: "봉인장치사용내역", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "영상정보장치점검관리", href: "#", icon: "tree-doc", class: "depth2 last-child" }
                ]
            },
            {
                text: "기술보안",
                class: "depth1",
                href: "#root3",
                selectable: false,
                nodes: [
                    { text: "계정관리", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "자산정보세부현황", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "공개취약점내역", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "공개취약점조치유예", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "로그분석결과", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "원격접속내역", href: "#", icon: "tree-doc", class: "depth2 last-child" }
                ]
            },
            {
                text: "관리자",
                class: "depth1 last-child",
                href: "#root3",
                selectable: false,
                nodes: [
                    { text: "관리자1", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "관리자2", href: "#", icon: "tree-doc", class: "depth2" },
                    { text: "관리자3", href: "#", icon: "tree-doc", class: "depth2 last-child" }
                ]
            }
        ];
    </script>
    
    <!--// script wrap -->
</body>
</html>
