<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Treeview</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../css/index.css">
    <!-- script -->
    <script src="../../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../../assets/js/vendors/bootstrap-treeview.min.js"></script>
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>
    <div id="tree"></div>
    <button id="addNodeBtn">노드 추가</button>
    <button id="removeNodeBtn">노드 삭제</button>

    <script>
        
    </script>
</body>
</html>
