@use 'sass:math';

/* Function
========================================================================== */
$base-rem-size: 16px;
$device-base-width: 1920px;
$device-base-height: 1080px;

// px → em
@function rem($value, $base: $base-rem-size) {
    $num-value: math.div($value, 1px);
    $num-base: math.div($base, 1px);
    $raw-rem: math.div($num-value, $num-base);
    $rounded-rem: math.div(math.round($raw-rem * 100), 100);
  
    @return $rounded-rem * 1rem;
}

// px → %
@function per($value) {
    $num-value: math.div($value, 1px);
    $num-base: math.div($device-base-width, 1px);
    $raw-per: math.div($num-value, $num-base) * 100;
    $rounded-per: math.div(math.round($raw-per * 100), 100);

    @return $rounded-per * 1%;
}
  
  // px → vw
  @function vw($value) {
    $num-value: math.div($value, 1px);
    $num-base: math.div($device-base-width, 1px);
    $raw-vw: math.div($num-value, $num-base) * 100;
    $rounded-vw: math.div(math.round($raw-vw * 100), 100);

    @return $rounded-vw * 1vw;
}
  
  // px → vh
  @function vh($value) {
    $num-value: math.div($value, 1px);
    $num-base: math.div($device-base-height, 1px);
    $raw-vh: math.div($num-value, $num-base) * 100;
    $rounded-vh: math.div(math.round($raw-vh * 100), 100);

    @return $rounded-vh * 1vh;
}