/* Function
========================================================================== */
$base-rem-size: 16px;
$device-base-width: 360px;
$device-base-height: 760px;

// 단위 변환 함수 px => rem
// ex) font-size: rem(12)
@function rem($px, $base: $base-rem-size) {
    @return (remove-unit($px / $base)) * 1rem;
}

// 단위 변환 함수 px => em
// ex) font-size: em(12)
@function em($px, $base: $base-rem-size) {
    @return (remove-unit($px / $base)) * 1em;
}

// 단위 변환 함수 px => %
// ex) width: per(12)
@function per($px) {
    @return (remove-unit($px / $device-base-width) * 100) * 1%;
}

// 단위 변환 함수 px => vw
// ex) width: vw(100);
@function vw($px) {
    @return (remove-unit($px / $device-base-width) * 100) * 1vw;
}

// 단위 변환 함수 px => vh
// ex) width: vh(100);
@function vh($px) {
    @return (remove-unit($px / $device-base-height) * 100) * 1vh;
}