/* Variables
========================================================================== */
$prefix: "kdhc-";

// color start
$black: #000;
$white: #fff;

// gray
$gray-001: #DCDCDC;
$gray-002: #18191C;
$gray-003: #A5A5A5; // border color
$gray-004: #C8C8C8; // placeholder font color
$gray-005: #18191C; // input focus
$gray-006: #DCDCDC; // disabled bg
$gray-007: #C5CDD5;
$gray-008: #555555;
$gray-009: #6C757D;
$gray-010: #EEF2F7; // masthead color

// red
$red-001: #DC3545; // error
$red-002: #FFE9D9; // badge bg

// orange
$orange-001: #FF8C14;

// green
$green-001: #3D6F94;

// blue
$blue-001: #384B5E;
$blue-002: #0D63D4;
$blue-003: #D9EAFF; // badge bg
$blue-004: #F2F5FA; // body bg
$blue-005: #E3E8ED;

// bg color
$body-bg: $blue-004;
$header-bg: $white;

// theme
$primary: $blue-001;
$secondary: $green-001;
$success: null;
$info: null;
$warning: null;
$danger: null;
$light: null;
$dark: null;
$error: $red-001;
// color end

// font-family
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", "Noto Sans KR", Roboto, "Helvetica Neue", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base:            $font-family-sans-serif;
$font-family-code:            $font-family-monospace;

$font-size-root:              16px;
$font-size-base:              16px;
$font-size-xsm:               $font-size-base * .75; // 12px
$font-size-sm:                $font-size-base * .875; // 14px
$font-size-md:                $font-size-base * .888; // 18px
$font-size-lg:                $font-size-base * 1.25; // 20px

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            normal;
$line-height-sm:              1.25;
$line-height-lg:              2;

// letter-spacing
$letter-spacing-base: -0.48px;
$letter-spacing-sm:   -0.36px;
$letter-spacing-xsm:   -0.28px;

// text-decoration
$text-decoration-none: none;
// text-indent
$text-indent: -999999rem;

// font size
$h1-font-size:                $font-size-base * 1.625; // 26px
$h2-font-size:                $font-size-base * 1.5; // 24px
$h3-font-size:                $font-size-base * 1.375; // 22px

$h4-font-size:                $font-size-base * 1.5; // 24px
$h5-font-size:                $font-size-base * 1.25; // 20px
$h6-font-size:                $font-size-base * 1.125; // 18px

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

// spacer 
$spacer: 1rem;

$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);

// input start
$input-padding-x:               16px;
$input-padding-y:               0px;
$input-font-family:             $font-family-base;
$input-font-color:              $gray-002;
$input-font-size:               $font-size-base;
$input-font-size-sm:            $font-size-base * 0.875;
$input-font-weight:             $font-weight-base;
$input-line-height:             $line-height-base;
$input-letter-spacing:          -0.48px;

$input-border-color:            $gray-003;
$input-border-width:            1px;
$input-border-radius:           4px;
$input-border-style:            solid;

$input-bg: $white;

$input-focus-bg:                $input-bg;
$input-focus-border-color:      $blue-002;
$input-focus-color:             $input-font-color;

$input-placeholder-color:       $gray-004;

$input-disabled-bg:             $gray-006;
$input-disabled-border-color:   $input-border-color;
$input-disabled-color:          $input-border-color;

$input-error-border-color:      $error;

$input-wdith:                   100%;
$input-height:                  36px;
$input-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
// input end

// textarea start
$input-textarea-height:         50px;
// textarea end

// select start
$form-select-padding-x:         0px;
$form-select-padding-x-l:       12px;
$form-select-padding-y:         0px;

$form-select-width:             100%;
$form-select-height:            $input-height;

$form-select-font-color:        $input-font-color;
$form-select-font-size:         $input-font-size;
$form-select-font-weight:       $input-font-weight;
$form-select-font-line-height:  $input-line-height;
$form-select-letter-spacing:    $input-letter-spacing;

$form-select-bg:                $input-bg;
$form-select-border:            $input-border-width $input-border-style $input-border-color;
$form-select-border-radius:     $input-border-radius;

$form-select-placeholder-color: $input-placeholder-color;
// select end

// checkbox, radio start
$form-check-input-width:        20px;
$form-check-min-height:         20px;
$form-check-padding:            0px;
$form-check-margin-bottom:      0px;
$form-check-label-color:        null;
$form-check-label-cursor:       null;
$form-check-label-left:         4px;

$form-check-input-bg:           $input-bg;
$form-check-input-border:       1px solid $input-border-color;
$form-check-input-border-radius: 4px;
$form-check-radio-border-radius: 50%;

$form-check-input-focus-border: $form-check-input-border;
$form-check-input-focus-box-shadow: none;

$form-check-input-checked-color: $green-001;
$form-check-input-checked-bg-color: $form-check-input-checked-color;
$form-check-input-checked-border-color: $form-check-input-checked-color;

$form-check-input-checked-bg-image: none;
$form-check-radio-checked-bg-image: none;

$form-check-input-indeterminate-color: $form-check-input-checked-color;
$form-check-input-indeterminate-bg-color: $form-check-input-checked-color;
$form-check-input-indeterminate-border-color: $form-check-input-checked-color;
$form-check-input-indeterminate-bg-image: $form-check-input-checked-color;

$form-check-input-disabled-bg: $input-disabled-bg;
$form-check-input-disabled-opacity: 1;
$form-check-label-disabled-opacity: 1;
$form-check-btn-check-disabled-opacity: 1;

$form-check-inline-margin-end: null;
// checkbox radio end

// form start
$form-label-margin-bottom: null;
$form-label-font-size: null;
$form-label-font-style: null;
$form-label-font-weight: null;
$form-label-color: null;

$form-text-margin-top: null;
$form-text-font-size: null;
$form-text-font-style: null;
$form-text-font-weight: null;
$form-text-color: null;
// form end

// button start
$btn-padding-y: 6px;
$btn-padding-x: 12px;
$btn-font-family: $font-family-base;
$btn-font-size: 18px;
$btn-line-height: $line-height-base;
$btn-letter-spacing: -0.42px;
$btn-white-space: null;

$btn-padding-y-xsm: 4px;
$btn-padding-x-xsm: 12px;
$btn-font-size-xsm: 14px;

$btn-padding-y-sm: 6px;
$btn-padding-x-sm: 16px;
$btn-font-size-sm: 14px;

$btn-padding-y-lg: 8px;
$btn-padding-x-lg: 16px;
$btn-font-size-lg: 18px;

$btn-border-width: 2px;

$btn-font-weight: $font-weight-medium;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-disabled: $gray-004;
$btn-disabled-bg: $btn-disabled;
$btn-disabled-opacity: 1;
$btn-active-box-shadow: none;

$btn-link-color: $white;
$btn-link-hover-color: $btn-link-color;
$btn-link-disabled-color: $btn-link-color;

$btn-border-radius: 6px;
$btn-border-radius-sm: 4px;
$btn-border-radius-lg: 6px;
$btn-border-radius-xlg: 40px;

$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
// button end

// badge start
$badge-font-size:                   14px;
$badge-font-weight:                 $font-weight-normal;
$badge-color:                       $white;
$badge-line-height:                 16.8px;
$badge-padding-y:                   4px;
$badge-padding-x:                   8px;
$badge-border-radius:               4px;
// badge end

// pagination start

// pagination end

// z-index
$zindex-levels: (
    n1: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3
);

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-offcanvas-backdrop:         1040;
$zindex-offcanvas:                  1045;
$zindex-modal-backdrop:             1050;
$zindex-modal:                      1055;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;
$zindex-toast:                      1090;
$zindex-skip: 10000;