/* Forms
========================================================================== */
.search-form {
    border: 1p solid $gray-007;
    background-color: $body-bg;
}

.form {
    .form-row {

    }
}

.form-check {
    padding: rem($form-check-padding);
    min-height: rem($form-check-min-height);
    margin: rem($form-check-margin-bottom);

    label {
        margin-left: rem($form-check-label-left);
    }
}