/* Forms
========================================================================== */
// form base
%form-base {
    .form-wrap {
        margin-bottom: rem(16px);
        border: 1px solid $gray-007;
        background-color: $white;
        .form-row {
            @include flex(true, "start", "normal");
            &:not(:last-of-type) {
                border-bottom: 1px solid $gray-007;
            }
            .col {
                @include flex(true, "start", "normal");
            } 
            .form-label {
                @include flex(true, "start", "center");
                margin: 0;
                padding: rem(18px) rem(24px);
                width: rem(140px);
                color: $primary;
                @include font-style($font-size-base, $font-weight-medium, $line-height-base);
                letter-spacing: rem(-1.5px);
                background-color: $blue-005;
            }
            .form-group {
                @include flex(false, "center", "start", rem(8px));
                padding: rem(12px) rem(16px);
                flex: 1;
                .input-group {
                    position: relative;
                    @include flex(true, "start", "center");
                    flex-wrap: wrap;
                    flex: 1;
                    width: 100%;
                }
                & + .form-group {
                    border-left: 1px solid $gray-007;
                }
                .input-txt {
                    width: 100%;
                    color: $gray-002;
                    @include font-style($font-size-base, $font-weight-normal, $line-height-base);
                    letter-spacing: rem(-1.5px);
                    &.center {
                        @include flex(true, "center", "center");
                        text-align: center;
                    }
                }
                .input-badge-group {
                    width: 100%;
                    flex: 1;
                    &.center {
                        @include flex(true, "center", "center");
                    }
                }
            }
            
        }
        &.type01 {
            .form-label {
                width: rem(160px);
            }
        }
        &.type02 {
            .col {
                &:first-of-type {
                    .form-label {
                        width: rem(200px);
                    }
                }
            }
        }
    }
}

// 검색 폼
.search-form-area {
   @extend %form-base;
}
.datepicker-group {
    @include flex(true, "start", "center", rem(8px));
    flex-wrap: wrap;

    .datepicker-btn-group {
        margin-bottom: rem(4px);
        width: 100%;
    }
}
// 검색 폼 end

// validation
.form-hint-invalid {
    width: 100%;
    color: $red-001;
    @include font-style($font-size-sm, $font-weight-normal, $line-height-base);
    &.hidden {
        @include hidden;
    }
}
// validation end

.form-check {
    padding: rem($form-check-padding);
    min-height: rem($form-check-min-height);
    margin: rem($form-check-margin-bottom);

    label {
        margin-left: rem($form-check-label-left);
    }
}
// 입력 폼
.input-form-area {
    @extend %form-base;
    width: 100%;
}
// grid
.grid-top-area {
    @include flex(true, "between", "center", rem(8px));
    margin-bottom: rem(12px);
    .grid-top-left {
        flex: 1;
        .combo-box-group {
            width: rem(142px);
        }
    }
    .grid-top-btn {
        @include flex(true, "end", "center", rem(8px));
        flex: 1;
        margin-left: auto;
    }
}
.grid-wrap {
    margin-bottom: rem(20px);
}