/* Forms
========================================================================== */
@use "sass:map";

$form-types: ("type01", "type02", "type03", "type04", "type05", "type06");

$form-label-width: rem(100px);
$form-btn-width: rem(136px);


// form base
%form-base {
    .form-wrap {
        margin-bottom: rem(16px);
        padding: rem(9px) rem(20px);
        border: 1px solid $gray-007;
        background-color: $blue-005;
        .form-row {
            @include flex(true, "start", "normal");
            .col {
                @include flex(true, "start", "baseline", rem(20px));
                padding: rem(6px) rem(20px);
            } 
            .form-label {
                @include flex(true, "start", "center");
                margin: 0;
                flex: 0 0 rem(100px);
                min-width: rem(100px);
                color: $secondary;
                @include font-style($font-size-base, $font-weight-medium, $line-height-base);
                letter-spacing: rem(-1.5px);
                word-break: keep-all;
                &[aria-required="true"] {
                    &::after {
                        content: '*';
                        display: inline-block;
                        margin-left: rem(4px);
                        color: $error;
                        letter-spacing: inherit;
                    }
                }
            }
            .form-group {
                @include flex(false, "center", "start");
                flex: 1;
                background-color: $blue-005;
                .input-group {
                    position: relative;
                    @include flex(true, "start", "center");
                    flex-wrap: wrap;
                    flex: 1;
                    width: 100%;
                }
                & + .form-group {
                    border-left: 1px solid $gray-007;
                }
                .input-txt {
                    width: 100%;
                    color: $gray-002;
                    @include font-style($font-size-base, $font-weight-normal, $line-height-base);
                    letter-spacing: rem(-1.5px);
                    &.center {
                        @include flex(true, "center", "center");
                        text-align: center;
                    }
                    &.tit {
                        padding-right: rem(40px);
                    }
                    &.cont {
                        padding-right: rem(40px);
                        min-height: rem(207px);
                    }
                }
                .input-badge-group {
                    width: 100%;
                    flex: 1;
                    &.center {
                        @include flex(true, "center", "center");
                    }
                }
            }
            &.search-btn {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                grid-area: btn !important;
                
                .btn {
                    min-width: rem(96px);
                }
            }
        }
    }
}

$form-layouts: (
    type01: (grid-template: "row-01 btn" "row-02 btn", columns: 1fr rem(136px)),
    type02: (grid-template: "row-01 btn" "row-02 btn", columns: 1fr rem(136px)),
    type03: (grid-template: "row-01 row-02 btn" "row-01 row-03 btn", columns: 1fr 1fr rem(136px)),
    type04: (grid-template: "row-01 row-02 row-03 btn", columns: 1fr 1fr 1fr rem(136px)),
    type05: (grid-template: "row-01 row-02 row-03 btn", columns: 1fr 1fr 1fr rem(136px)),
    type06: (display: flex, align: normal, justify: flex-start, padding: rem(14px) rem(20px))
 );


// 검색 폼
.search-form-area {
   @extend %form-base;
   .form-wrap {
        @each $ft, $values in $form-layouts {
            &.#{$ft} {
                @if map.has-key($values, grid-template) {
                    display: grid;
                    grid-template-areas: map.get($values, grid-template);
                    grid-template-columns: map.get($values, columns);
                }
    
                @else if map.has-key($values, display) {
                    display: map.get($values, display);
                    align-items: map.get($values, align);
                    justify-content: map.get($values, justify);
                    padding: map.get($values, padding);
                }
            }
        }
        @each $ft in $form-types {
            &.#{$ft} {
                @if $ft == "type01" {
                    .form-row {
                        &:nth-of-type(1) {
                            grid-area: row-01;
                        }
                        &:nth-of-type(2) {
                            grid-area: row-02;
                        }
                        &:nth-of-type(3) {
                            grid-area: row-03;
                        }
                        .col {
                            &:not(:first-of-type) {
                                @extend .col-3;
                            }
                            &:first-of-type {
                                @extend .col-6;
                                .form-label {
                                    flex: 0 0 rem(88px);
                                    min-width: rem(88px);
                                }
                            }
                        }
                        .col:only-of-type {
                            width: 100% !important;
                        }
                       
                    }
                    &.form-col-2 {
                        .form-row {
                            .col { 
                                width: 50%;
                            }
                        }
                    }
                    &.form-col-3 {
                        .form-row {
                            .col {
                                &:first-of-type {
                                    @extend .col-4;
                                }
                                @extend .col-4;
                            }
                        }
                    }
                }
                @else if $ft == "type02"  {
                    .form-row {
                        flex: 1;
                        .col {
                            padding: rem(5px) rem(20px);
                            &:last-of-type {
                                padding-right: 0;
                            }
                            .form-label {
                                flex: none;
                                max-width: rem(115px);
                            }
                        }
                    }
                }
                @else if $ft == "type03"  {
                    .form-row {
                        &:nth-of-type(1) {
                            grid-area: row-01;
                        }
                        &:nth-of-type(2) {
                            grid-area: row-02;
                        }
                        &:nth-of-type(3) {
                            grid-area: row-03;
                        }
                        .col {
                            &:first-of-type {
                                @include flex(true, "start", "center", rem(20px));
                                .form-label {
                                    flex: 0 0 rem(88px);
                                    min-width: rem(88px);
                                }
                            }
                        }
                    }
                }
                @else if $ft == "type04" {
                    .form-row {
                        flex-direction: column;
                        &:nth-of-type(1) {
                            grid-area: row-01;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            .col {
                                &:first-of-type {
                                    width: 100%;
                                    .datepicker-btn-group {
                                        width: rem(207px);
                                    }
                                }
                                 &:nth-of-type(2) {
                                    align-items: center;
                                    width: rem(220px);
                                    flex: 0 0 rem(220px);
                                    .form-group {
                                        align-items: center;
                                        flex-direction: row;
                                        justify-content: flex-start;
                                    }
                                }
                            }
                        }
                        &:nth-of-type(2) {
                            grid-area: row-02;
                        }
                        &:nth-of-type(3) {
                            grid-area: row-03;
                        }
                        
                    }
                }
                @else if $ft == "type05" {
                    .form-row {
                        flex-direction: column;
                        &:nth-last-child(2) {
                            .col {
                                 align-items: center;
                            }
                        }
                    }
                }
                @else if $ft =="type06" {
                    .form-row {
                        gap: rem(8px);
                        &:not(.search-btn) {
                            flex: 1;
                            margin-right: auto;
                        }
                        .col {
                            padding: 0;
                            &:last-of-type {
                                padding-right: rem(20px);
                            }
                        }
                    }
                }
            }  
        }
   }
}
// 검색 폼 end

// 입력 폼
.input-form-area {
    @extend %form-base;
    width: 100%;
    .form-wrap {
        @each $ft in $form-types {
            &.#{$ft} {
                @if $ft == "type01" {
                    margin-bottom: 0;
                    .form-row {
                        align-items: baseline;
                        gap: rem(40px);
                        .col {
                            gap: rem(20px);
                            padding: rem(5px) rem(20px);
                            flex: 1;
                            &:only-child {
                                width: 100%;
                            }
                            .form-label {
                                word-break: keep-all;
                            }
                            .inputgroup,
                            .input-time-group,
                            .input-date-group {
                                width: 100%;
                            }
                        }
                    }
                    &.only-child {
                        @include flex(true, "center", "center", rem(20px));
                        .form-row {
                           flex: 0 0 50%;
                            .form-label {
                                flex: 0 0 rem(140px);
                                width: rem(140px);
                            }
                           &.search-btn {
                                flex: 0;
                           }
                        }
                    }
                }
                @else if $ft == "type02" {
                    margin-bottom: 0;
                    padding: 0;
                    background-color: $white;
                    .form-row {
                        &:not(:last-of-type) {
                            border-bottom: 1px solid $gray-007;
                        }
                        .col {
                            align-items: normal;
                            gap: 0;
                            padding: 0;
                        }
                        .form-label {
                            padding: rem(10px) rem(16px);
                            flex: 0 0 rem(160px);
                            width: rem(160px);
                            min-width: rem(160px);
                            min-height: rem(60px);
                            background-color: $blue-005;
                        }
                        .form-group {
                            padding: rem(10px) rem(16px);
                            min-height: rem(60px);
                            background-color: transparent
                        }
                    }
                }
                @else if $ft == "type03" {
                    .form-label {
                        min-width: rem(130px);
                    }
                    .input-date-group {
                        min-width: 50%;
                    }
                }
                @else if $ft =="type04" {
                    margin: 0;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    @include flex(false, "start", "start", rem(24px));
                    
                    .form-row {
                        flex: 1;
                        width: 100%;

                        .col {
                            @include flex(false, "start", "start", rem(12px));
                            flex: 1;
                            padding: 0;
                            width: 100%;
                            .form-label {
                                flex: 1;
                            }
                            .form-group {
                                width: 100%;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

// grid
.grid-top-area {
    @include flex(true, "between", "center", rem(8px));
    margin-bottom: rem(12px);
    .grid-top-left {
        flex: 1;
        .combo-box-group {
            width: rem(142px);
        }
        .title-wrap {
            margin-bottom: 0 !important;
        }
    }
    .grid-top-btn {
        @include flex(true, "end", "center", rem(8px));
        flex: 1;
        margin-left: auto;
    }
}
.grid-wrap {
    margin-bottom: rem(20px);
    width: 100%;
}
.modal-dialog {
    .grid-wrap {
        margin-bottom: 0 !important;
    }
}
// form component group start
// datepicer
.datepicker-group {
    @include flex(true, "start", "center", rem(8px));
    width: 100%;
    .datepicker-btn-group {
        @include flex(true, "start", "center", rem(4px));
    }
}

// validation
.form-hint-invalid {
    width: 100%;
    color: $red-001;
    @include font-style($font-size-sm, $font-weight-normal, $line-height-base);
    &.hidden {
        display: none;
    }
}

// textarea
.textarea-group {
    width: 100%;
    &.w-65 {
        width: calc(100% - rem(47px));
        height: rem(124px);
        .form-control {
            height: 100%;
        }
    }
    &.h-100 {
        .form-control {
            height: rem(100px);
        }
        
    }
    &.h-200 {
        .form-control {
            height: rem(200px);
        }

    }
    &.h-300 {
        .form-control {
            height: rem(300px);
        }

    }
}

// multi group
.multi-group {
    @include flex(true, "start", "center", rem(24px));
    width: 100%;
    .select-group {
        flex: 1;
    }
    .input-group {
        flex: 1;
    }
}

// checkbox
.form-check-group {
    @include flex(true, "start", "center", rem(24px));
    flex-wrap: wrap;
}
.form-check {
    padding: rem($form-check-padding);
    min-height: rem($form-check-min-height);
    margin: rem($form-check-margin-bottom);

    label {
        margin-left: rem($form-check-label-left);
        &.hidden {
           display: none;
        }
    }
}
// component group end

// form flex
.flex-form {
    @include flex(true, "between", "normal", rem(40px));
    min-height: rem(560px);
    @include scroll-y;
    
    .tree-view {
        overflow-y: auto;
        width: rem(382px);
        max-height: rem(560px);
    }
    
    .flex-form-left {
       margin-right: auto;
    }
    .flex-form-right {
        flex: 1;
        margin-left: auto;
        .bottom-btn-area {
            margin-top: rem(32px);
        }
    }
}