/* Main
========================================================================== */
$main-padding: rem(48px) rem(40px) rem(90px);
$dashboard-padding: rem(20px) rem(40px) rem(27px);

// common
%main-contents-common {
    flex: 1;
    overflow: auto;
    width: 100%;
    @include content-min-width;
    .contents {
        width: 100%;
        @include content-min-width(rem(80px));
    }
}

// default
.main-contents {
    @extend %main-contents-common;
    padding: $main-padding;
    height: 100%;
    max-height: calc(100vh - $header-height);
    .contents {
        height: 100%;
    }
}

//dashboard
.main-dashboard {
    @extend %main-contents-common;
    padding: $dashboard-padding;
    min-height: 100%;
    height: calc(100vh - $header-height);
    .contents {
        min-height: 100%;
        height: calc(100vh - $header-height - rem(20px) - rem(27px));
    }
    &.admin {
        height: 100%;
        max-height: calc(100vh - $header-height);
        .contents {
            height: 100%;
        }
    }
}