/* breadcrumb, pagination, tabs
========================================================================== */
nav {
    // breadcrumb
    .breadcrumb {
        margin-bottom: rem(20px);
        .breadcrumb-item {
            @include flex(true, "start", "center");
            color: $gray-002;
            @include font-style($font-size-sm, $font-weight-normal, $line-height-base);
            letter-spacing: $letter-spacing-xsm;
            a {
                color: $gray-002;
                text-decoration: $text-decoration-none;
            }
            &.active {
                font-weight: $font-weight-medium;
                background-color: transparent
            }
            & + .breadcrumb-item{
                &::before {
                    content: '>';
                    padding-right: rem(6px);
                }
            }
        }
    }
    // pagination 스타일
    &.page-navigation {
        @include flex(true, "center", "center");
        .pagination {
            @include flex(true, "center", "center", rem(8px));
            .page-item {
                min-width: rem(36px);
                height: rem(36px);
                .page-link {
                    @include flex(true, "center", "center");
                    padding: rem(6px);
                    min-width: inherit;
                    height: inherit;
                    color: $gray-002;
                    font-size: rem(16px);
                    line-height: 19.2px;
                    letter-spacing: -3%;
                    text-align: center;
                    border: none;
                    border-radius: rem(6px);
                    background-color: $white;
                    &:hover {
                        color: $white;
                        background-color: $secondary;
                    }
                }
                &.active {
                    background-color: transparent;
                    .page-link {
                        color: $white;
                        background-color: $secondary;
                    }
                }
                &.disabled {
                    .page-link {
                        color: $gray-008;
                    }
                }
                &.first,
                &.last,
                &.next,
                &.prev {
                    width: rem(28px);
                    min-width: rem(28px);
                    .page-link {
                        position: relative;
                        padding: rem(6px) rem(4px);
                        text-indent: $text-indent;
                        width: rem(28px);
                        min-width: rem(28px);
                        @include before(true, true, 50%, 0, 0, 50%);
                        &::before {
                            transform: translate(-50%, -50%);
                            @extend .icon;
                        }
                    }
                    &:hover,
                    &:focus {
                        .page-link {
                            background-color: $white;
                        }
                    }
                }
                &.first {
                    .page-link {
                        &::before {
                            @extend .arrow-first;
                        }
                    }
                    &.disabled {
                        .page-link {
                            &::before {
                                @extend .arrow-first-off;
                            }
                        }
                    }
                }
                &.prev {
                    .page-link {
                        &::before {
                            @extend .arrow-left;
                        }
                    }
                    &.disabled {
                        .page-link {
                            &::before {
                                @extend .arrow-first-off;
                            }
                        }
                    }
                }
                &.next {
                    .page-link {
                        &::before {
                            @extend .arrow-right;   
                        }
                    }
                    &.disabled {
                        .page-link {
                            &::before {
                                @extend .arrow-right-off;
                            }
                        }
                    }
                }
                &.last {
                    .page-link {
                        &::before {
                            @extend .arrow-last;   
                        }
                    }
                    &.disabled {
                        .page-link {
                            &::before {
                                @extend .arrow-last-off;
                            }
                        }
                    }
                }
            }
        }
    }
}