/* Sidebar
========================================================================== */
$sidebar-close-width: 60px;
$sidebar-width: 280px;

#sidebar {
    width: rem($sidebar-width);
    transition: width 0.3s ease-in-out;
    .sidebar-menu {
        display: block;
    }
}
#sidebar.collapsed {
    width: rem($sidebar-close-width);
    .sidebar-menu {
        display: none;
    }
}
.sidebar {
    overflow-y: auto;
    height: 100vh;
    max-height: calc(100vh - $header-height);
    background-color: $secondary; //scondary
    .sidebar-top-btn {
        @include flex(true, "end", "center");
        padding: rem(12px);
        i {
            text-indent: $text-indent;
        }
    }
    .lnb-tit {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    .lnb-list {
        transition: opacity 0.2s ease-in-out;
        .lnb-item {
            border-bottom: 1px solid $gray-009;
            .lnb-btn {
                @include flex(true, "start", "center");
                padding: rem(20px) rem(16px) rem(20px) rem(24px);
                width: 100%;
                min-height: rem(66px);
                color: $white;
                @include font-style($h6-font-size, $font-weight-medium, $line-height-base);
                letter-spacing: rem($letter-spacing-sm);
                border-radius: 0;
                border: 0;
            }
            .lnb-link {
                text-decoration: $text-decoration-none;
                white-space: normal;
                word-break: break-word;
                &.active,
                &:hover {
                    background-color: $primary;
                }
            }
            &.active,
            &:hover {
                border-color: $primary;
                background-color: $primary;
            }
        }
    }
    &.collapsed {
        width: rem(60px);
        .sidebar-top-btn {
            padding: rem(12px) rem(14px);
        }
        .lnb-link {
            opacity: 0;
        }
    }
    &.close {
        width: $sidebar-close-width;
    }
}