/* Sidebar
========================================================================== */
.sidebar {
    overflow-y: auto;
    width: $sidebar-width;
    height: 100dvh;
    max-height: calc(100dvh - $header-height);
    background-color: $primary;
    transition: width 0.3s ease;
    overflow-y: auto;
    .sidebar-top-btn {
        @include flex(true, "end", "center");
        padding: rem(12px);
        i {
            text-indent: $text-indent;
        }
    }
    .lnb-tit {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }
    .lnb-list {
        .lnb-item {
            border-bottom: 1px solid $gray-009;
            .lnb-btn {
                @include flex(true, "start", "center");
                padding: rem(20px) rem(16px) rem(20px) rem(24px);
                width: 100%;
                min-height: rem(66px);
                color: $white;
                @include font-style($h6-font-size, $font-weight-medium, $line-height-base);
                letter-spacing: rem($letter-spacing-sm);
                border-radius: 0;
                border: 0;
            }
            .lnb-link {
                text-decoration: $text-decoration-none;
            }
            &.active,
            &:hover {
                border-color: $secondary;
                background-color: $secondary;
            }
        }
    }
    &.collapsed {
        width: rem(60px);
        .sidebar-top-btn {
            padding: rem(12px) rem(14px);
            .arrow-close {
                @extend .arrow-expansion;
            }
        }
        .lnb-list {
            display: none;
            transition: display 0.3s;
        }
    }
}