<!DOCTYPE html>
<html lang="ko" data-kdhc-mode="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDHC</title>
    <!-- css -->
    <link rel="stylesheet" href="../../css/index.css">
    <!-- script -->
    <script src="../../assets/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="../../assets/js/vendors/bootstrap-datepicker.min.js"></script>
    <script type="module" src="../../assets/js/common.js"></script>
</head>
<body>
    <div id="wrap" class="kdhc-wrap">

        <!-- 본문 바로가기 영역 -->
        <div id="kdhc-skip-link">
            <a href="#breadcrumb">본문 바로가기</a>
        </div>
        <!--// 본문 바로가기 영역  -->

        <!-- 상단 배너영역 -->
        <div id="kdhc-masthead">
            <div class="toggle-wrap">
                <div class="toggle-head">
                    <div class="inner">
                        <span class="nuri-txt">이 누리집은 한국지역난방공사 제어망 스마트 보안관리 플랫폼 누리집입니다.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- // 상단 배너영역 -->

        <!-- 헤더 영역 -->
        <header id="kdhc-header">
            <script type="module" src="../../assets/js/layouts/header.js"></script>
        </header>
        <!--// 헤더 영역 -->


        <!-- 컨테이너 영역 -->
        <section id="kdhc-container">
            <div class="inner">
                <!-- 사이드 영역 -->
                <aside id="sidebar" class="sidebar">
                    <script type="module" src="../../assets/js/layouts/sidebar-06.js"></script>
                </aside>
                <!--// 사이드 영역 -->

                <main class="main-contents">
                
                    <!-- 컨텐츠 영역 -->
                    <div class="contents">

                        <!-- breadcrumbs start -->
                        <nav id="breadcrumb" class="breadcrumb-wrap" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">정보자산</a></li>
                                <li class="breadcrumb-item active" aria-current="page">정보자산반출입내역</li>
                            </ol>
                        </nav>
                        <!--// breadcrumbs end -->

                        <!-- page title start -->
                        <div class="page-title-wrap">
                            <h1 class="h-tit">결재 컴퍼넌트</h1>
                        </div>
                        <!--// page title end -->

                        <!-- 결재 컴퍼넌트 영역 -->
                        <div class="approve">
                            <div class="title-wrap">
                                <h6 class="tit">결재정보</h4>
                            </div>
                            <!-- input form -->
                            <div class="input-form-area">
                                <!-- form start -->
                                <form>
                                    <fieldset>
                                        <!-- form-wrap start -->
                                        <div class="form-wrap type01">
                                            <!-- row -->
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-label">기안일</div>
                                                    <div class="form-group">
                                                        <div class="input-txt"><!-- 텍스트 영역 --></div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-label">결재 명</div>
                                                    <div class="form-group">
                                                        <div class="input-txt"><!-- 텍스트 영역 --></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// row end-->
                                        </div>
                                        <!--// form-wrap end -->
                                    </fieldset>
                                </form>
                                <!-- form end -->
                            </div>
                            <!--// input form -->
                            <div class="title-wrap">
                                <h6 class="tit">결재상태</h4>
                            </div>
                            <!-- 결재상태 -->
                            <!-- step start -->
                            <div class="process-status">
                                <!-- step start -->
                                <div class="step step-lg">
                                    <ul class="step-list">
                                        <li class="step-done">
                                            <dl>
                                                <dt><i class="step-img"></i></dt>
                                                <dd class="txt">기안자</dd>
                                                <dd class="txt">계전보안부 이현경</dd>
                                            </dl>
                                        </li>
                                        <li class="step-done">
                                            <dl>
                                                <dt><i class="step-img"></i></dt>
                                                <dd class="txt">관리부서 차(팀)장</dd>
                                                <dd class="txt">계전보안부 최원태</dd>
                                            </dl>
                                        </li>
                                        <li class="step-done">
                                            <dl>
                                                <dt><i class="step-img"></i></dt>
                                                <dd class="txt">제어보호담당자</dd>
                                                <dd class="txt">계전보안부 오승환</dd>
                                            </dl>
                                        </li>
                                        <li class="step-reject">
                                            <dl>
                                                <dt><i class="step-img"></i></dt>
                                                <dd class="txt">제어보호담당관</dd>
                                                <dd class="txt">계전보안부 김현수</dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                                <!-- step end -->
                            </div>
                            <!-- step end -->
                            <!--// 결재상태 -->
                            <div class="title-wrap">
                                <h6 class="tit">결재진행</h4>
                            </div>
                            <!-- input form -->
                            <div class="input-form-area">
                                <!-- form start -->
                                <form>
                                    <fieldset>
                                        <!-- form-wrap start -->
                                        <div class="form-wrap type02">
                                            <!-- row -->
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-label">제어보호담당관</div>
                                                    <div class="form-group">
                                                        <div class="input-txt">김현수</div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-label">결재일자</div>
                                                    <div class="form-group">
                                                        <div class="input-txt center">2024.12.12 11:30:24</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-badge-group center">
                                                            <span class="badge badge-type02">결재반려</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- row -->
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-label">제어보호담당자</div>
                                                    <div class="form-group">
                                                        <div class="input-txt">오승환</div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-label">결재일자</div>
                                                    <div class="form-group">
                                                        <div class="input-txt  center">2024.12.12 11:30:24</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-badge-group center">
                                                            <span class="badge badge-type01">결재완료</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- row -->
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-label">관리부서 차(팀)장</div>
                                                    <div class="form-group">
                                                        <div class="input-txt">최원태</div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-label">결재일자</div>
                                                    <div class="form-group">
                                                        <div class="input-txt center">2024.12.12 11:30:24</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-badge-group center">
                                                            <span class="badge badge-type01">결재완료</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- row -->
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-label">기안자</div>
                                                    <div class="form-group">
                                                        <div class="input-txt">홍창기</div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-label">기안일자</div>
                                                    <div class="form-group">
                                                        <div class="input-txt center">2024.12.12 11:30:24</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-badge-group center">
                                                            <span class="badge badge-type01">기완완료</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--// row end-->
                                        </div>
                                        <!--// form-wrap end -->
                                    </fieldset>
                                </form>
                                <!-- form end -->
                            </div>
                            <!--// input form -->
                        </div>
                        <!--// 결재 컴퍼넌트 영역 -->
                    </div>
                    <!--// 컨텐츠 영역 -->

                </main>

            </div>
        </section>
        <!--// 컨테이너 영역 -->

        <!-- 푸터 영역 -->
        <footer id="kdhc-footer">
            <script type="module" src="../../assets/js/layouts/footer.js"></script>
        </footer>
        <!--// 푸터 영역 -->
    </div>
   
</body>
</html>