/* Box
========================================================================== */
$box-types: ('lg', 'mid', 'sm');

.box {
    $i: 1;
    @each $bt in $box-types {
        .box-#{$bt} {
           
        }
        $i: $i + 1;
    }
}