/* Button
========================================================================== */
@use "sass:list";

// value : width, height, padding-y, padding-x, font-size, radius, border
$button-size: (
    "lg": (96px, 42px, $btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg, $btn-border-width),
    "md": (84px, 38px, $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius, $btn-border-width),
    "sm": (53px, 32px, $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm, $btn-border-width-sm),
    "xsm": (49px, 28px, $btn-padding-y-xsm, $btn-padding-x-xsm, $btn-font-size-xsm, $btn-border-radius-xsm, $btn-border-width-sm),
    "xxsm": (50px, 26px, $btn-padding-y-xxsm, $btn-padding-x-xxsm, $btn-font-size-xxsm, $btn-border-radius-xxsm, $btn-border-width-sm)
);

// color : bg, border, font, hover, disabled
$button-types: (
    "primary": ($secondary, $secondary, $btn-link-color, $gray-009, $btn-disabled),
    "secondary": ($primary, $primary, $btn-link-color, $gray-009, $gray-007),
    "error": ($error, $error, $btn-link-color, $gray-009, $gray-007),
    "outline": ($white, $secondary, $secondary, $gray-009, $btn-disabled),
    "outline--round": ($white, $gray-003, $gray-002, $primary, $btn-disabled),
    "grid": ($blue-005, $gray-009, $gray-009, $gray-002, $gray-007),
    "icon": (transparent, transparent, transparent, transparent, transparent),
    "more":(transparent, transparent, $primary, $primary, $primary),
    "txt": (transparent, transparent, $primary, transparent, $primary)
);

// button base style
%button-base {
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    letter-spacing: rem($btn-letter-spacing);
    font-family: $btn-font-family;
    border-style: solid;
}

// disabled base style
%button-disabled {
    opacity: $btn-disabled-opacity;
}

.btn {
    @extend %button-base;

    @each $bs, $values in $button-size {
        &.btn-#{$bs} {
            padding: rem(list.nth($values, 3)) rem(list.nth($values, 4));
            min-width: rem(list.nth($values, 1));
            height: rem(list.nth($values, 2));
            font-size: rem(list.nth($values, 5));
            border-radius: list.nth($values, 6);
            border-width: list.nth($values, 7);
        }
    }

    @each $bt, $colors in $button-types {
        &.btn-#{$bt} {
            color: list.nth($colors, 3);
            background-color: list.nth($colors, 1);
            border-color: list.nth($colors, 2);            

            &[disabled] {
                color: if($bt =="outline" or $bt =="outline--round" or $bt =="grid", list.nth($colors, 5), list.nth($colors, 3));
                border-color: list.nth($colors, 5);
                background-color: if($bt =="outline" or $bt =="outline--round" or $bt =="grid", list.nth($colors, 1), list.nth($colors, 5));
                @extend %button-disabled;
            }

            &:hover,
            &:focus,
            &:active,
            &.active {
                color: if($bt =="outline" or $bt =="grid", list.nth($colors, 4), list.nth($colors, 3));
                background-color: if($bt =="outline" or $bt =="grid", list.nth($colors, 1), list.nth($colors, 4));
                border-color: list.nth($colors, 4);

                @if $bt =="outline--round" {
                    color: list.nth($colors, 1);
                }
            }

            @if $bt == "icon" or $bt =="more" {
                padding: 0;
                border: 0;
                border-radius: 0;
                background-color: list.nth($colors, 1);

                &:hover,
                &:focus,
                &:active,
                &.active {
                    background-color: list.nth($colors, 1);
                    border-color: list.nth($colors, 2);
                }
                &[disabled] {
                    background-color: list.nth($colors, 1);
                }
            }
            @if $bt =="more" {
                position: relative;
                padding-right: rem(28px);
                @include before(false, true, 0, 0, 0, auto);
                &::after {
                    @extend .icon;
                    @extend .more;
                    background-position: right center;
                }
            }
        }
    }
}

// button area
.top-btn-area {
    @include flex(true, "end", "center", rem(8px));
    margin-bottom: rem(18px);
}
.bottom-btn-area {
    @include flex(true, "end", "center", rem(8px));
    margin-top: rem(16px);
}