/* Grid
========================================================================== */
.ag-root-wrapper {
    color: $gray-002;
    color-scheme: light;
    font-family: $font-family-base;
    font-size: $font-size-base;
    border: {
        width: 1px;
        color: $secondary $gray-007 $gray-007 $gray-007;
        style: solid;
    };
    border-radius: 0;
    background-color: $white;

    .left {
        text-align: left;
        .ag-header-cell-label {
            justify-content: flex-start;
        }
    }
    .center {
        text-align: center;
        .ag-header-cell-label {
            justify-content: center;
        }
    }
    .right {
        text-align: right;
        .ag-header-cell-label {
            justify-content: flex-end;
        }
    }
    .bgColor {
        background-color: $blue-003;
    }
    .headerBlank {
        background-color: $gray-007;
    }  
    .merge-cell-bg {
        padding: rem(9px) 0 !important;
        background-color: $gray-007;
    }
    // header
    .ag-header {
        border-bottom: 1px solid $gray-007;
        background-color: $blue-005;
        .ag-header-cell {
            white-space: pre;
            &:not(:last-of-type) {
                &::after {
                    border-right: 1px solid $gray-007;
                }
                .ag-header-cell-resize {
                    &::after {
                        height: 100% !important;
                        background-color: $gray-007 !important;
                        margin-left: 2px;
                    }
                }
            }
        }
        .ag-header-group-text,
        .ag-header-cell-text {
            color: $secondary;
            @include font-style($font-size-sm, $font-weight-medium, rem(16.8px));
        }
        .ag-header-group-cell {
            &:not(:last-child) {
                &::after {
                    border-right: 1px solid $gray-007;
                }
            }
            &.center {
                .ag-header-cell-comp-wrapper {
                    justify-content: center;
                }
            }
        }
    }
    .ag-body-viewport {
        height: auto !important;
    }
    // row
    .ag-row {
        &:not(:last-of-type) {
            border-bottom: 1px solid $gray-007;
        }
        &.ag-row-hover,
        &.ag-row-focus,
        &.ag-row-selected {
            &::before {
                background-color: transparent;
            }
        }
        &.ag-row-selected {
            &:active,
            &:focus,
            &:hover {
                &::before {
                    background-color: transparent;
                    background-image: none;
                }
            }
        }
    }
    
    // cell
    .ag-cell {
        &:not(:last-of-type) {
            border-right: 1px solid $gray-007;
        }
        &.ag-cell-focus {
            &:focus-within {
                border-color: transparent;
                border-right-color: $gray-007;
            }
        }
        .ag-cell-value {
            color: $gray-002;
            @include font-style($font-size-base, $font-weight-normal, rem(19.2px));
        }
        &.ag-text-left {
            text-align: left;
            justify-content: flex-start;
        }
        &.ag-text-center {
            text-align: center;
            justify-content: center;
        }
        &.ag-text-right {
            text-align: right;
            justify-content: flex-end;
        }
    }
    .ag-cell-inline-editing {
        border: {
            width: 0 1px 0 0 !important;
            color: $gray-007 !important;
        }
        border-radius: 0;
        box-shadow: none;
    }
}
// component : checkbox
.ag-checkbox-input-wrapper {
    width: rem(16px);
    height: rem(16px);
    border: $form-check-input-border;
    border-radius: $form-check-input-border-radius;
    background-color: $form-check-input-bg;
    &.ag-checked {
        border-color: $form-check-input-checked-color;
        background-color: $form-check-input-checked-color;
        &::after {
            mask-image: url(/assets/images/svg/checked.svg);
            background-color: $white;
        }
    }
    .ag-checkbox-input {
        width: rem(16px);
        height: rem(16px);
    }
    &:where(:focus-within,:active) {
        box-shadow: none;
    }
}
// component : input
.ag-text-field-input-wrapper {
    input[type="text"] {
        @extend .form-control;
    }
}
// component : input date
.ag-date-field-input-wrapper {
    input[type="date"] {
        @extend .form-control;
        &::-webkit-calendar-picker-indicator {
            position: absolute;
            right: rem(12px);
            background: url(#{$img-root}/images/svg/calendar.svg);
            background-repeat: no-repeat;
        }
    }
}
// component : select

// grid type style
.normal {
    .ag-header {
        .ag-header-cell {
            &::after {
                height: 41px;
            }
        }
        .ag-header-cell-resize {
            &:after {
                top: 1px;
                width: 1px;
                height: rem(39px);
                background-color: transparent;
            }
        }
    }
    .ag-cell {
        &[col-id="ag-Grid-SelectionColumn"] {
            display: inline-flex;
            .ag-selection-checkbox {
                margin-right: 0;
            }
        }
    }
    .cell-normal {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(9px) rem(12px);
        line-height: rem(19px);
        text-align: center;
        white-space: normal;
        word-break: keep-all;
        &.input {
            .ag-cell-wrapper {
                width: 100%;
            }
        }
    }
}
.ag-body-horizontal-scroll {
    position: absolute;
    bottom: 0;
}
.ag-body-horizontal-scroll:not(.ag-scrollbar-invisible),
.ag-body-horizontal-scroll-container,
.ag-body-horizontal-scroll-viewport {
    height: rem(6px) !important;
    min-height: rem(6px) !important;
    max-height: rem(6px) !important;
}
.ag-center-cols-viewport,
.ag-center-cols-container {
    min-height: rem(47px) !important;
}
.admin {
    .ag-center-cols-viewport,
    .ag-center-cols-container {
        min-height: rem(47px) !important;
    }
}

// empty
.ag-overlay {
    position: relative;
    margin-top: rem(-41px);
    height: rem(120px);
    .ag-overlay-wrapper {
        padding-top: 0 !important;
    }
}
.empty {
    @include flex(false, "center", "center", rem(16px));
    width: 100%;
    .empty-img {
        @extend .icon;
        @extend .empty;
    }
    .empty-txt {
        color: $gray-004;
        @include font-style($input-font-size, $input-font-weight, $input-line-height);
    }
}
// cell merge
.row-merge-grid {
    .ag-root-wrapper {
        border-bottom: 0;
        .ag-row {
            border-bottom: 0;
            background-color: transparent !important;
        }
    }
    .cell-normal,
    .ag-cell-inline-editing {
        border-bottom: 1px solid $gray-007 !important;
    }
    .ag-cell {
        &.merge-cell {
            @include flex(true, "center", "center");
            padding: rem(9px) rem(12px);
            text-align: center;
            white-space: normal;
            word-break: keep-all;
            border-bottom: 1px solid $gray-007 !important;
            .ag-cell-wrapper {
                width: 100%;
            }
        }
        &.blank {
            .ag-cell-value {
                display: none;
            }
        }
        .link {
            cursor: pointer;
            color: $primary;
            text-decoration: underline;
        }
    }
    .ag-overlay {
        border-bottom: 1px solid $gray-007;
    }
}