/* Input, Textarea, Date Picker
========================================================================== */
// input 공통 스타일 start
%input-base {
    display: inline-block;
    padding: rem($input-padding-y) rem($input-padding-x);
    width: $input-wdith;
    height: rem($input-height);
    min-height: rem($input-height);
    color: $input-font-color;
    font-size: rem($input-font-size);
    line-height: $input-line-height;
    font-weight: $input-font-weight;
    letter-spacing: rem($input-letter-spacing);
    border-radius: rem($input-border-radius);
    border: $input-border-width $input-border-style $input-border-color;
    background-color: $input-bg;
    transition: $input-transition;
    box-sizing: border-box;
}
%input-placeholder {
    color: $input-placeholder-color;
}
%input-focus {
    color: $input-focus-color;
    background-color: $input-bg;
    border-color: $input-focus-border-color;
    box-shadow: none;
    outline: none;
}
// 공통 interactive
%input-interactive {
    &.active,
    &:hover,
    &:active,
    &:focus-visible,
    &:focus-within,
    &:focus {
        @extend %input-focus;
    }
}
// 공통 disabled 스타일
%input-disabled {
    color: $input-disabled-color !important;
    background-color: $input-disabled-bg;
}
// 공통 read-only 스타일
%input-read-only {
    color: $input-font-color;
    background-color: $input-disabled-bg;
}
// 공통 error 스타일
%input-error {
    border-color: $input-error-border-color;
}
%input-icon {
    padding-left: rem(8px);
    padding-right: rem(12px);
    height: rem($input-height);
    min-height: rem($input-height);
    border: 0;
    background-color: $input-bg;
}
%input-icon-group {
    flex: 1;
    padding-right: 0;
    border: 0;
    background-color: transparent;
}
// input 공통 스타일 end

// input type style start
.form-control {
    @extend %input-base;
    @extend %input-interactive;
    &::placeholder {
        @extend %input-placeholder;
    }
    &:read-only {
        @extend %input-read-only;
    }
    &[disabled] {
        @extend %input-disabled;
    }
    &.is-error {
        @extend %input-error;
    }
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"] {
    @extend .form-control;
    & + label.hidden {
        display: none;
    }
}
input[type="number"] {
    &.form-control {
        text-align: right;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -moz-appearance: textfield;
            -webkit-appearance: none;
            margin: 0;
        }
        &.number {
            text-align: center;
        }
    }
}
// input type style end

// textarea satart
textarea {
    &.form-control {
        @extend .form-control;
        padding: rem(16px);
        width: 100%;
        height: auto;
        min-height: rem($input-textarea-height);
    }
}
.textarea-group {
    &.is-error {
        .form-control {
            @extend %input-error;
        }
    }
}
// textarea end

// input group
.input-group {
    .form-control {
        border-top-right-radius: $input-border-radius !important;
        border-bottom-right-radius: $input-border-radius !important;
    }
    &.is-error {
        .form-control {
            @extend %input-error;
        }
    }
}
.input-search-group,
.input-date-group {
    @include flex(true, "start", "center");
    @extend %input-base;
    @extend %input-interactive;
    padding: 0;
    width: 100%;
    // input icon
    .form-control {
        @extend %input-icon-group;
        height: rem(32px) !important;
        min-height: rem(32px) !important;
        & + .input-group-text {
            @extend %input-icon;
            background-color: transparent;
        }
    }
    &.disabled {
        @extend %input-disabled;
    }
    &.readonly {
        @extend %input-read-only;
    }
    &.is-error {
        @extend %input-error;
    }
}
.input-date-group {
    min-width: rem(144px);
    &:hover {
        .form-control {
            & + .input-group-text {
                .icon {
                    &.calendar {
                        @include icons("calendar-on");
                    }
                }
            }
        }
        
    }
}
.input-search-group {
    flex: none;
    width: 100%;
    &:hover {
        .form-control {
            &+.input-group-text {
                cursor: pointer;
                .icon {
                    &.search {
                        @include icons("search-on");
                    }
                }
            }
        }
    }
}
.input-time-group {
    @include flex(true, "start", "center", rem(8px));
    &.is-error {
        .form-select {
            @extend %input-error;
        }
    }
}
// 파일 첨부
.input-file-group {
    @include flex(true, "start", "center",  rem(8px));
    width: 100%;
    input[type="file"] {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .upload-name {
        flex: 1;
        border: none; 
    }
    label {
        cursor: pointer;
        @extend .btn;
        @extend .btn-grid;
        @extend .btn-xxsm;
    }
}