/* Input, Textarea, Date Picker, Select
========================================================================== */
// input 공통 스타일 start
%input-base {
    display: inline-block;
    padding: rem($input-padding-y) rem($input-padding-x);
    width: $input-wdith;
    height: rem($input-height);
    min-height: rem($input-height);
    color: $input-font-color;
    font-size: rem($input-font-size);
    line-height: rem($input-line-height);
    font-weight: $input-font-weight;
    letter-spacing: $input-letter-spacing;
    border-radius: rem($input-border-radius);
    border: $input-border-width $input-border-style $input-border-color;
    background-color: $input-bg;
    transition: $input-transition;
    box-sizing: border-box;
}
%input-placeholder {
    color: $input-placeholder-color;
}
%input-focus {
    color: $input-focus-color;
    background-color: $input-bg;
    border-color: $input-focus-border-color;
    box-shadow: none;
    outline: none;
}
%input-disabled {
    color: $input-disabled-color !important;
    background-color: $input-disabled-bg;
}
%input-read-only {
    color: $input-font-color;
    background-color: $input-disabled-bg;
}
%input-error {
    border-color: $input-error-border-color;
}
// input 공통 스타일 end

// input type style start
.form-control {
    @extend %input-base;
    &::placeholder {
        @extend %input-placeholder;
    }
    &.active,
    &:hover,
    &:active,
    &:focus-visible,
    &:focus-within,
    &:focus {
        @extend %input-focus;
    }
    &:read-only {
        @extend %input-read-only;
    }
    &[disabled] {
        @extend %input-disabled;
    }
    &.error {
        @extend %input-error;
    }
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"] {
    @extend .form-control;
}
// input type style end

// textarea satart
textarea {
    &.form-control {
        @extend .form-control;
        height: auto;
        min-height: rem($input-textarea-height);
    }
}
// textarea end

// selectbox satart
.form-select {
    cursor: pointer;
    padding: {
        top: rem($form-select-padding-y);
        right: rem($form-select-padding-x);
        left: rem($form-select-padding-x-l);
        bottom: rem($form-select-padding-y);
    };
    width: $form-select-width;
    height: $form-select-height;
    color: $form-select-font-color;
    font-size: rem($form-select-font-size);
    line-height: rem($form-select-font-line-height);
    font-weight: $form-select-font-weight;
    letter-spacing: $form-select-letter-spacing;
    border-radius: rem($form-select-border-radius);
    border: $form-select-border;
    background-color: $input-bg;
    transition: $input-transition;
    @extend .icon;
    @extend .arrow-down;
    background-size: rem($icon-size-20);
    background-position: right rem(12px) center;
    box-sizing: border-box;
    &:required:invalid {
        color: $form-select-placeholder-color;
    }
    option {
        &[value=""][disabled] {
            display: none;
        }
        color: $form-select-font-color;
    }
    &.active,
    &:hover,
    &:active,
    &:focus-visible,
    &:focus-within,
    &:focus {
        @extend %input-focus;
    }
    &[aria-readonly="true"] {
        @extend %input-read-only;
        pointer-events: none;

    }
    &[aria-disabled="true"],
    &[disabled] {
        @extend %input-disabled;
    }
    &.error {
        @extend %input-error;
    }
    option {
        margin: 0;
        padding: 0;
        background-color: $form-select-bg;
        border-radius: $form-select-border-radius;
    }
}
// selectbox end

// datepicker
input[type="date"] {
    position: relative;
    @extend %input-base;

    @extend .icon;
    @extend .calendar;
    background-size: rem($icon-size-20);
    background-position: right rem(12px) center;
    box-sizing: border-box;

    &::-webkit-clear-button,
    &::-webkit-inner-spin-button {
        display: none;
    }
    // &::-webkit-datetime-edit-text,
    // &::-webkit-datetime-edit-month-field,
    // &::-webkit-datetime-edit-day-field,
    // &::-webkit-datetime-edit-year-field {
    //     -webkit-appearance: none;
    //     display: none;
    // }
    &::-webkit-calendar-picker-indicator {
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        color: transparent;
    }
    // &::before {
    //     content: attr(data-placeholder);
    //     width: 100%;
    // }
    &:focus::before,
    &:valid::before {
        display: none;
    }
}