/* List
========================================================================== */
$ulist-types: ('type01', 'type02', 'type03');
$dlist-types: ('type01', 'type02', 'type03');
$olist-types: ('type01', 'type02', 'type03');

.ulist {
    @each $ut in $ulist-types {
        .ulist-#{$ut} {
            
        }
    }
}
.dlist {
    @each $dt in $dlist-types {
        &.#{$dt} {
            @if $dt == "type01" {
                @include flex(true, "start", "normal");
                border: 1px solid $gray-007;
                & + dl {
                    border-top: 0;
                }
                dt {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                dd {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 2;
                }
                .tit {
                    padding: rem(10px) rem(12px);
                    width: rem(240px);
                    border-right: 1px solid $gray-007;
                    background-color: $white;
                }
                .item {
                    width: 100%;
                    background-color: $white;
                    .item-cont {
                        @include flex(true, "start", "center");
                        &:not(:last-of-type) {
                            border-bottom: 1px solid $gray-007;
                        }
                    }
                    .txt {
                        @include flex(true, "center", "center");
                        padding: rem(10px) rem(12px);
                        flex: 1;
                    }
                    .action {
                        @include flex(true, "end", "center");
                        margin-left: auto;
                        padding: rem(10px) rem(12px);
                        width: rem(120px);
                        border-left: 1px solid $gray-007;
                        .form-check label.hidden {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.olist {
    @each $ot in $olist-types {
        .olist-#{$ot} {
            
        }
    }
}
