/* Modal
========================================================================== */
$modal-sizes: (
  "lg": 1400px,
  "md": 800px,
  "smd": 600px,
  "sm": 400px
);

%modal-base {
    .modal-content {
        border-radius: 0;
        border: none;
        background-color: $body-bg;
    }

    .modal-header {
        padding: rem(20px) rem(24px) rem(16px);
        min-height: rem(68px);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        background-color: $primary;

        .modal-title {
            color: $white;
            @include font-style($h3-font-size, $font-weight-bold, rem(32px));
        }

        .btn-close {
            width: rem(32px);
            height: rem(32px);
            @extend .icon;
            @extend .close;
            opacity: 1;

            &:focus,
            &:focus-visible,
            &:focus-within {
                box-shadow: none;
            }
        }
    }

    .modal-body {
        padding: rem(20px) rem(24px) rem(20px);
    }

    .modal-footer {
        gap: rem(8px);
        padding: 0 rem(24px) rem(24px);
        border: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $body-bg;
    }
}
.modal {
    @extend %modal-base;
    
    @each $size, $width in $modal-sizes {
        &.modal-#{$size} .modal-dialog {
            width: rem($width);
            min-width: rem($width);
            max-width: rem($width);
        }
    }
}