/* Popup
========================================================================== */
$popup-size: ('medium', 'small');
$popup-header-height: rem(102px);
$popup-md-header-height: rem(68px);
$popup-md-footer-height: rem(86px);

%popup-base {
    @include flex(false, "between", "normal");
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    background-color: $gray-012;
    @include scroll-y;
    @include scroll-x;

    .kdhc-pop-header {
        @include flex(true, "between", "center");
        padding: rem(32px) rem(40px) rem(24px);
        min-height: $popup-header-height;
        background-color: $secondary;
        .pop-title {
            color: $white;
            @include font-style($font-size-xlg, $font-weight-bold, rem(38.4px));
        }
        .btn-close {
            margin-left: auto;
            width: rem(32px);
            height: rem(32px);
            @extend .icon;
            @extend .close;
            opacity: 1;

            &:focus,
            &:focus-visible,
            &:focus-within {
                box-shadow: none;
            }
        }
    }
    .kdhc-pop-container {
        flex: 1;
        width: 100%;
        height: 100%;
        .inner {
            overflow-y: auto;
            padding: rem(20px) rem(40px) rem(40px);
            height: 100%;
            max-height: calc(100dvh - $popup-header-height);
            .breadcrumb-wrap {
                margin-bottom: rem(20px);
            }
            .title-wrap {
                margin-bottom: rem(16px);
            }
            .section {
                &:not(:last-of-type) {
                    padding: 0 0 rem($modal-section-btm);
                }
            }
            .input-form-area {
                & + .input-form-area {
                    margin-top: rem(24px);
                }
                & + .grid-wrap {
                    margin-top: rem(24px);
                    margin-bottom: 0;

                    & + .grid-wrap {
                        margin-top: rem(24px);
                        margin-bottom: 0;

                        & + .grid-wrap {
                            margin-top: rem(24px);
                            margin-bottom: 0;
                            
                            & + .grid-wrap {
                                margin-top: rem(24px);
                                margin-bottom: 0;
                            }
                        }
                    }
                    
                    
                }
            }
            .section-sub {
                padding: rem(28px) rem($modal-section-btm);
                border-radius: rem(12px);
                background-color: $white;
                box-shadow:0 0 rem(12px) 0 rgba($black, 0.08);
            }
        }
    }
}
/* Medium & Small Popup 공통 스타일 */
%popup-base-md-sm {
    .kdhc-pop-header {
        padding: rem(20px) rem(24px) rem(16px);
        min-height: rem(68px);
        .pop-title {
            font-size: rem($h3-font-size);
        }
    }
    .kdhc-pop-container {
        max-height: calc(100dvh - $popup-md-header-height - $popup-md-footer-height);
        .inner {
            overflow-y: auto;
            padding: rem(24px) rem(24px) 0;
            max-height: calc(100dvh - $popup-md-header-height - $popup-md-footer-height);
        }
        &.not-footer {
            max-height: calc(100dvh - $popup-md-header-height);
            .inner {
                padding: rem(24px);
                max-height: calc(100dvh - $popup-md-header-height);
            }
        }
        .grid-wrap {
            margin-bottom: 0;

        }
        .grid-bottom-area {
            margin-top: rem(20px);
        }
    }
    .kdhc-pop-footer {
        height: $popup-md-footer-height;
        .inner {
            @include flex(true, "end", "center", rem(8px));
            padding: rem(20px) rem(24px) rem(24px);
           
            .form-switch {
                @include flex(true, "start", "center", rem(20px));
                margin-right: auto;
                .form-check-input {
                    float: none;
                }

                .form-check-label {
                    margin-left: 0;
                    color: $primary;
                    @include font-style($font-size-base, $font-weight-medium, rem(23px));
                }
            }
        }
    }
}
.kdhc-pop-wrap {
  @extend %popup-base;

  /* Medium & Small Popups 공통 적용 */
  &.medium,
  &.small {
    @extend %popup-base-md-sm;
  }
}
// 결재팝업
.kdhc-pop-wrap {
    &.approval {
        @extend %popup-base-md-sm;
        background-color: $white;

        // header
        .kdhc-pop-header {
            padding: rem(20px) rem(24px) rem(16px);
            background-color: $white;
            .pop-title {
                color: $gray-002;
                line-height: rem(32px);
            }
            .btn-close {
                @extend .close-wh;
            }
        }

        .kdhc-pop-container {
            background-color: $white;
        }

        // footer
        .kdhc-pop-footer {
            .inner {
                justify-content: center;
                .btn {
                    flex: 1;
                }
            }
        }
    }
}