/* selectbox
========================================================================== */
// selectbox start
.form-select {
    cursor: pointer;
    padding: {
        top: rem($form-select-padding-y);
        right: rem($form-select-padding-x);
        left: rem($form-select-padding-x-l);
        bottom: rem($form-select-padding-y);
    };
    width: $form-select-width;
    height: $form-select-height;
    color: $form-select-font-color;
    font-size: rem($form-select-font-size);
    line-height: $form-select-font-line-height;
    font-weight: $form-select-font-weight;
    letter-spacing: $form-select-letter-spacing;
    border-radius: rem($form-select-border-radius);
    border: $form-select-border;
    background-color: $input-bg;
    transition: $input-transition;
    @extend .icon;
    @extend .arrow-down;
    background-size: rem(20px);
    background-position: right rem(12px) center;
    box-sizing: border-box;
    &:required:invalid {
        color: $form-select-placeholder-color;
    }
    option {
        &[value=""][disabled] {
            display: none;
        }
        color: $form-select-font-color;
    }
    &.active,
    &:active,
    &:hover,
    &:focus-visible,
    &:focus-within,
    &:focus {
        @extend %input-focus;
        border-color: $gray-002;
    }
    &[aria-readonly="true"] {
        @extend %input-read-only;
        pointer-events: none;

    }
    &[aria-disabled="true"],
    &[disabled] {
        @extend %input-disabled;
    }
    &.is-error {
        @extend %input-error;
    }
    .placeholder {
        width: 100%;
        color: $input-placeholder-color;
        @include font-style($input-font-size, $input-font-weight, $input-line-height);
        background-color: transparent;
        opacity: 1;
    }
    &.sm {
        width: rem(142px);
        height: rem(32px);
        @include font-style($input-font-size-sm, $input-font-weight, $input-line-height);
    }
}
.select-group {
    width: 100%;
    &.is-error {
        .form-select {
            @extend %input-error;
        }
    }
}
// selectbox end