/* Step
========================================================================== */
$step-size: ("lg", "sm");
$step-status: ("default", "current", "reject", "done");

%step-base {
    .step-list {
        @include flex(true, "between", "center");
        li {
            position: relative;
            flex: 1;
            @include before(true, true, rem(40px), 0, 0, 0);
            &::before {
                height: 1px;
                width: 100%;
                background-color: $gray-003;
                z-index: 1;
            }
            &:last-of-type {
                flex: none;
                &::before {
                   display: none
                }
            }
            dl {
                position: relative;
                z-index: 2;
            }
        }
    }
}
%step-img {
    @include flex(true, "center", "center");
    @extend .icon;
    background-size: rem(48px);
    border-radius: 50%;
}
%step-txt {
    font-weight: $font-weight-medium;
}
.process-status {
    @include flex(true, "center", "center");
    margin-bottom: rem(32px);
    .step {
        width: rem(975px);
    }
}
.step {
    @extend %step-base;
    
    @each $size in $step-size {
        &.step-#{$size} {
            @if $size== "lg" {
                .step-list {
                    li {
                        &:nth-of-type(2) {
                           &.step-default {
                                .txt {
                                    color: $gray-002;
                                    @include font-style($h3-font-size, $font-weight-bold, rem(26.4px));
                                    letter-spacing: -2%;
                                }
                           } 
                        }
                    }
                }
                .step-img {
                    margin-bottom: rem(12px);
                    width: rem(80px);
                    height: rem(80px);
                }
                .txt {
                    font-size: rem(18px);
                    line-height: rem(21.6px);
                    letter-spacing: -2%;
                    @extend %step-txt;
                }
            }
            @else if $size == "sm" {
                .step-list {
                    min-width: rem(390px);
                    li {
                        &::before {
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        dl {
                            display: grid;
                            grid-template-columns: rem(28px) 1fr;
                            grid-template-areas: 
                            "dt txt01"
                            "dt txt02";
                            min-height: rem(38px);
                            dt {
                                grid-area: dt;
                                @include flex(true, "center", "center");
                            }
                            dd {
                                height: rem(17px);
                                text-align: left;
                                &:nth-of-type(1) {
                                    grid-area: txt01;
                                    margin-bottom: rem(4px);
                                }
                                &:nth-of-type(2) {
                                    grid-area: txt02;
                                }
                                padding: 0 rem(8px);
                            }
                        }
                    }
                }
                .step-img {
                    width: rem(28px);
                    height: rem(28px);
                    background-size: rem(16px);
                }
                .txt {
                    font-size: rem(12px);
                    line-height: rem(14.4px);
                    letter-spacing: -3%;
                    @extend %step-txt;
                }
            }
        }
    }
    @each $status in $step-status {
        .step-#{$status} {
            .step-img {
                @extend %step-img;
            }
            @if $status== "default" {
                .step-img {
                    background-color: $gray-003;
                    @extend .step-check;
                }
                .txt {
                    color: $gray-003;
                }
            }
            @else if $status == "current" {
                .step-img {
                    background-color: $orange-001;
                    @extend .step-doc;
                }
                .txt {
                    color: $orange-001;
                }
            }
            @else if $status == "reject" {
                .step-img {
                    background-color: $error;
                    @extend .step-reject;
                }
                .txt {
                    color: $error;
                }
            }
            @else if $status == "done" {
                .step-img {
                    background-color: $blue-002;
                    @extend .step-check;
                }
                .txt {
                    color: $blue-002;
                }
            }
        }
    }
}