/* Tables
========================================================================== */
$table-types: ("type-row");

// table 입력 폼
%tbl-input-form-base {
    width: 100%;
    border-top: 1px solid $primary;
    border: {
        width: 1px;
        style: solid;
        color: $primary $gray-007 $gray-007;
    }
    caption {
        display: none;
    }
    thead {
        th {
            padding: rem(10px) rem(12px);
            color: $secondary;
            @include font-style($font-size-sm, $font-weight-medium, $line-height-base);
            text-align: center;
            &:not(:last-of-type) {
                border-right: 1px solid $gray-007;
            }
            border-bottom: 1px solid $gray-007;
            background: $blue-005;
        }
    }
    tbody {
        th {
            padding: rem(10px) rem(12px);
            color: $gray-002;
            @include font-style($font-size-base, $font-weight-normal, $line-height-base);
            text-align: center;
            vertical-align: middle;
            border-right: 1px solid $gray-007;
            border-bottom: 1px solid $gray-007;
            background-color: $white;

            &.center {
                text-align: center;
                vertical-align: middle;
            }
        }

        td {
            padding: rem(10px) rem(12px);
            min-height: rem(60px);
            color: $gray-002;
            @include font-style($font-size-base, $font-weight-normal, $line-height-base);
            vertical-align: middle;
            border-bottom: 1px solid $gray-007;
            background-color: $white;

            &:not(:last-of-type) {
                border-right: 1px solid $gray-007;
            }

            &.center {
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}
.tbl-input-form {
    @extend %tbl-input-form-base;
    @each $ty in $table-types {
        &.#{$ty} {
            @if $ty =="type-row" {
                    border-top-color: $gray-007;
            
                    tbody {
                        th {
                            color: $secondary;
                            background-color: $blue-005;
                        }
                    }
                }
        }
    }
    &.type-row {
        margin-top: rem(16px);
    }
}