/* Tables
========================================================================== */
$table-types: ('line', 'mid', 'sm');

.table {
    $i: 1;
    @each $tbt in $table-types {
        .table-#{$tbt} {
           
        }
        $i: $i + 1;
    }
}