/* Tags
========================================================================== */
$tag-types: ('round', 'mid', 'sm');

%tag-base {
    // 공통 스타일
    // @include text-style(12);
    height: 20px;
    padding: 0 6px;
    font-weight: 700;
    border-radius: 4px;
}

.tag {
    @extend %tag-base;
    // color: $white;
    // background-color: $red;
    @each $bt in $tag-types {
        .tag-#{$bt} {
           
        }  
    }
}