/* Tree
========================================================================== */
%tree-view-base {
    padding: rem(20px);
    min-height: rem(560px);
    border: 1px solid $gray-001;
    background-color: $white;
    .node-treeview {
        &:not(.node-disabled):hover {
            background-color: transparent;
        }
        &.node-selected {
            color: $primary !important;
            background-color: transparent !important;
            a {
                color: $primary !important;
            }
        }
    }
    .dot-line-hor {
        height: 2px;
        background-repeat: repeat-x;
        background-image: url(#{$img-root}/images/svg/tree-dot-line_hor.svg);
    }
    .dot-line {
        width: 2px;
        background-repeat: repeat-y;
        background-image: url(#{$img-root}/images/svg/tree-dot-line.svg);
    }
    .list-group {
        color: $primary;
        @include font-style($font-size-base, $font-weight-medium, $line-height-base);
        border-radius: 0;
        border: 0;
        background-color: transparent;
    }
    .list-group-item {
        @include flex(true, "start", "center");
        border: 0;
        .icon {
            position: relative;
            margin-right: 0;
            width: rem(20px);
            height: rem(20px);
            z-index: 1;
        }
        .tree-plus,
        .tree-minus {
            margin-left: rem(2px);
            width: rem(16px);
            height: rem(16px);
            background-size: rem(16px);
        }
        &.root {
            cursor: none;
            pointer-events: none;
            a {
                cursor: none;
                pointer-events: none;
            }
            &::after {
                content: none;
            }
            .glyphicon {
                @extend .tree-root;
            }
            .tree-folder-close {
                display: none;
            }
        }
        .tree-minus {
            & + .tree-folder-close {
                @extend .tree-folder-open;
            }
        }
        a {
            color: inherit;
            font-size: inherit;
            text-decoration: none;
        }
    }
}
.tree-view {
    @extend %tree-view-base;
    .list-group {
        .list-group-item {
            @include flex(true, 'start', 'center', rem(12px));
            position: relative;
            padding: rem(6px) 0;
            background-color: transparent;
            z-index: 1;
            @include before(true, true, rem(10px), 0, rem(20px), rem(9.5px));
            &::before {
                height: 100%;
                @extend .dot-line;
                z-index: -1;
            }
            .tree-folder-open,
            .tree-folder-close {
                position: relative;
                @include before(false, true, rem(10px), 0, 0, rem(-13px));
                &::after {
                    width: rem(14px);
                    @extend .dot-line-hor;
                    z-index: -1;
                }
            }
            &.depth1 {
                &.last-child {
                    &::before {
                        content: none;
                    }
                    &~.depth2 {
                        &::before {
                            content: none;
                        }
                    }
                }
            }
            &.depth2 {
                .tree-doc {
                    @include before(true, true, rem(-12px), 0, 0, rem(-26px));
                    @include before(false, true, rem(10px), 0, 0, rem(-24px));
                    &::before {
                        height: calc(100% + rem(14px));
                        @extend .dot-line;
                        z-index: -1;
                    }
                    &::after {
                        width: rem(24px);
                        @extend .dot-line-hor;
                        z-index: -1;
                    }
                }
                &.last-child {
                    .tree-doc {
                        &::before {
                            top: rem(-8px);
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}