/* Contents
========================================================================== */

// Login
.kdhc-login-wrap {
    @include flex(false, "start", "center", rem(40px));

    width: 100%;
    height: 100vh;
    background-color: $primary;

    .login-page-title {
        margin-top: vh(48px);
        @include icons("login-user");
        width: auto;
        min-height: rem(162px);
        height: auto;
        background-size: rem(80px);
        background-position: center top;
        mix-blend-mode: screen;

        h2 {
            &.title {
                margin: 0;
                padding-top: rem(92px);
                color: $white;
                @include font-style($font-size-xxlg, $font-weight-bold, $line-height-base);
                letter-spacing: rem(-0.96px);
            }
        }
    }

    .login-box {
        @include flex(false, "start", "center");
        padding: rem(60px) rem(40px) rem(48px);
        width: rem(480px);
        min-height: rem(414px);
        border-radius: rem(20px);
        background-color: $white;
        box-shadow: $login-box-shadow;
    }

    .login-header {
        .login-logo {
            @include flex(true, "center", "center", rem(15px));

            .brand-name {
                @include icons("login-brand-name");
                text-indent: $text-indent;
            }
        }
    }

    .login-content {
        width: 100%;

        .form-row {
            &:first-of-type {
                margin-top: rem(52px);
            }

            &:not(:last-of-type) {
                margin-bottom: rem(20px);
            }

            .form-id-group,
            .form-pw-group {
                position: relative;
                
                .form-control {
                    height: rem(52px);
                    color: $gray-002;
                    @include font-style($font-size-md, $font-weight-normal, $line-height-base);
                    letter-spacing: rem(-0.54px);
                }
                .login-id-label {
                    @include icons("login-id");
                }

                .login-pw-label {
                    @include icons("login-pw");
                }
                .login-id-label,
                .login-pw-label {
                    @include flex(true, "start", "center");
                    position: absolute;
                    top: 50%;
                    left: rem(16px);
                    padding-left: rem(32px);
                    width: calc(100% - rem(32px) - rem(16px));
                    height: 100%;
                    color: $gray-011;
                    @include font-style($font-size-md, $font-weight-normal, $line-height-base);
                    letter-spacing: rem(-0.54px);
                    background-size: rem(24px);
                    background-position: left center;
                    transform: translateY(-50%);
                    z-index: 2;
                }
            }
        }

        .form-btn {
            margin-top: rem(32px);

            .login-btn {
                width: 100%;
                height: rem(60px);
                color: $white;
                @include font-style($h3-font-size, $font-weight-bold, rem(32px));
                border-radius: $radius-xmd;
                background: $login-btn-gradient;
            }
        }
        &.no-icon {
            .form-id-group,
            .form-pw-group {
                .login-id-label,
                .login-pw-label {
                    padding-left: 0;
                    width: calc(100% - rem(16px));
                    background-image: none;
                }
            }
        }
    }
    .login-id-label,
    .login-pw-label {
        transition: $login-transition;
        opacity: 1;
        transform: translateY(0);
    }
    .hidden-label {
        opacity: 0;
        transform: translateY(-5px);
    }
    &.login-dev {
        background-color: $gray-002;
    }
}
// Login end

// Manual
.manual-box-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: rem(24px);
    margin-top: rem(8px);
    .manual-box {
        @include flex(false, "start", "baseline", rem(24px));
        padding: rem(24px) rem(8px);
        min-width: rem(372px);
        height: rem(680px);
        color: $gray-002;
        @include font-style($font-size-base, $font-weight-normal, rem(23px));
        background-color: $gray-001;

        .link {
            color: inherit;
            text-decoration: none;
            word-break: keep-all;
        }
        .bold {
            font-weight: $font-weight-bold;
        }
        .manual-box-head {
            padding: 0 rem(16px);
            width: 100%;
            .title {
                font-size: $h3-font-size;
                line-height: rem(32px);
                font-weight: $font-weight-bold;
            }
        }
        .manual-box-cont {
            overflow-y: auto;
            padding: 0 rem(16px);
            width: 100%;
            .ulist {
                @include flex(false, "start", "start", rem(24px));
            }
        }
    }
}
// Manual end

// info
.info-box {
    @include flex(true, "center", "center");
    width: 100%;
    min-height: rem(106px);
    border: 1px solid $blue-005;
    .cont {
        color: $gray-002;
        @include font-style($font-size-md, $font-weight-normal, rem(26px));
        letter-spacing: rem(-0.36px);
        .tags {
            color: $primary;
            font-weight: $font-weight-bold;
        }
    }
}
// info end

.hidden-label {
    visibility: hidden;
}
.obj.week.flex {
    display: flex !important;
}

// error
.kdhc-blank-wrap {
    .kdhc-error-container {
        width: 100%;
        height: 100vh;
        background-color: $gray-012;
        .inner {
            @include flex(true, "center", "center");
            padding-top: vh(120px);
        }
    }
    .error-box {
        @include flex(false, "start", "center", rem(60px));
        min-width: rem(524px);
        
        .error-head {
            @include flex(false, "center", "center", rem(12px));

            .error-type {
                position: relative;
                padding-top: rem(180px);
                width: 100%;
                color: $gray-002;
                @include font-style($font-size-xxlg, $font-weight-bold, rem(58px));
                letter-spacing: rem(-0.96px);
                text-align: center;
                @include before(true, true, 0, 0, 0, 50%);
                &::before {
                    transform: translateX(-50%);
                    background-position: center top;
                }
                &.error-500 {
                    &::before {
                        @include icons("error-500");
                    }
                }
                &.error-400 {
                    &::before {
                        @include icons("error-400");
                    }
                }
            }
            .error-message {
                color: $error;
                @include font-style($font-size-slg, $font-weight-bold, rem(38px));
                letter-spacing: rem(-0.52px);
                text-align: center;
            }
        }
        .error-content {
            @include flex(false, "start", "center", rem(20px));
            .txt {
                margin: 0;
                padding: 0;
                color: $secondary;
                @include font-style($font-size-md, $font-weight-normal, rem(26px));
                text-align: center;
                letter-spacing: rem(-0.36px);
            }
        }
        .bottom-btn-area {
            margin-top: 0;
        }
    }
}
// error end

// loader
.loader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @include flex(true, "center", "center");
    background: rgba($white, 0.50);
    z-index: $zindex-loader;
    .loader {
        text-indent: $text-indent;
        @include icons("loading");
    }
}
// loader end