/* Dashboard
========================================================================== */
.main-dashboard {
    .contents {
        display: grid;
        grid-template-columns: repeat(3, minmax(rem(493px), 1fr));
        grid-template-areas:
            "title title title"
            "summary summary summary"
            "row-box-1 row-box-2 row-box-3"
            "row-box-4 row-box-5 row-box-6"
            "alarm alarm alarm";
        grid-template-rows: rem(32px) rem(74px) rem(268px) rem(268px) rem(40px);
        grid-column-gap: rem(40px);
        grid-row-gap: rem(24px);
       
        .title-wrap {
            grid-area: title;
            width: 100%; 
        }
        .summary {
            pointer-events: none;
            @include flex(true, "start", "normal", rem(40px));
            grid-area: summary;
            margin-top: rem(-12px);
            dl {
                @include flex(true, "center", "baseline", rem(17px));
                padding: rem(8px) rem(23px) rem(23px);
                width: 100%;
                color: $primary;
                border-radius: $radius-md;
                box-shadow: 0 0.5px 2px 0 rgba($black, 0.40);
                backdrop-filter: blur(1.5px);

                &.approval {
                    &-wait {
                        background: $approval-wait-gradient;
                    }
                    &-progress {
                        background: $approval-progress-gradient;
                    }
                    &-reject {
                        background: $approval-reject-gradient;
                    }
                }
            }
            dt {
                color: inherit;
                @include font-style($h4-font-size, $font-weight-bold, $line-height-base);
                letter-spacing: rem(-0.48px);
            }
            dd {
                .num {
                    color: inherit;
                    @include font-style($font-size-xxlg, $font-weight-bold, $line-height-base);
                }
                .unit {
                    margin-left: rem(8px);
                    color: inherit;
                    @include font-style($h4-font-size, $font-weight-normal, $line-height-base);
                }
            }

        }
        .row-box {
            padding: rem(30px) rem(12px) rem(25px) rem(48px);
            border-radius: $radius-md;
            background: $white;
            box-shadow: 0px 0px 12px 0px rgba($black, 0.08);
            @include dashboard-scroll-y;

            @for $i from 1 through 6 {
                &:nth-of-type(#{$i}) {
                    grid-area: row-box-#{$i};
                }
            }
            .row-box-head {
                @include flex(true, "between", "baseline");
                margin-bottom: rem(24px);

                .tit {
                    color: $gray-002;
                    @include font-style($font-size-sslg, $font-weight-medium, $line-height-base);
                    letter-spacing: rem(-0.56px);
                    &.icon {
                        position: relative;
                        padding-left: rem(48px);
                        @include before(true, true, 50%, 0, 0, 0);
                        
                        &::before {
                            @extend .icon;
                            background-position: left center;
                            background-repeat: no-repeat;
                            background-size: rem(32px);
                            transform: translateY(-50%);
                        }
                        @for $i from 1 through 4 {
                            &.bullet-#{$i} {
                                &::before {
                                    @extend .tit-bullet-#{$i};
                                }
                            }
                            
                        }
                    }
                    &-sm {
                        color: $gray-002;
                        @include font-style($h6-font-size, $font-weight-medium, rem(26px));
                        letter-spacing: rem(-0.36px);
                    }
                }
                .btn-more {
                    margin-right: rem(36px);
                }
            }
            .row-box-cont {
                overflow-y: auto;
                max-height: rem(158px);
                
                .ulist,
                .olist {
                    @include flex(false, "start", "normal", rem(11px));
                    &:not(.olist) {
                        gap: rem(7px)
                    }
                    .item {
                        @include flex(true, "between", "center");
                        padding-right: rem(28px);
                        .txt {
                            flex: 1;
                            display: inline-block;
                            margin-right: auto;
                            min-width: 0;
                            color: $gray-002;
                            @include font-style($font-size-xmd, $font-weight-normal, rem(20px));
                            text-align: left;
                            @include ellipsis;
                        }
                        .date {
                            flex-shrink: 0;
                            margin-left: auto;
                            padding-left: rem(23px);
                            color: $gray-003;
                            @include font-style($font-size-base, $font-weight-normal, rem(20px));
                            text-align: right;
                        }
                    }
                    &.number {
                        counter-reset: number 0;
                        .item {
                            &::before {
                                content: counter(number)'.';
                                counter-increment: number 1;
                                display: inline-block;
                                margin-right: rem(4px);
                                color: inherit;
                            }
                        }
                    }
                    &.bullet {
                        .item {
                            position: relative;
                            padding-left: rem(20px);
                            @include before(true, true, 50%, 0, 0, 0);
                            &::before {
                                @extend .icon;
                                @extend .list-bullet;
                                background-position: left center;
                                background-repeat: no-repeat;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            &.inspection {
                padding-right: rem(50px);

                .row-box-head {
                    .btn-more {
                        margin-right: 0;
                    }
                }
                .row-box-cont {
                    overflow: hidden;
                }
            }
            // chart
            &.chart-box {
                padding: 0;
                .row-box-head {
                    margin-bottom: 0;
                }
                .row-box-cont {
                    overflow: hidden;
                    max-height: rem(268px);
                }
            }
        }
        .summary-sub {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: rem(8px);
            pointer-events: none;
            dl {
                @include flex(true, "between", "baseline", rem(2px));
                padding: rem(12px) rem(20px) rem(18px);
                height: rem(68px);
                line-height: $line-height-base;
                border-radius: $radius-md;
                background: $main-summary-sub;
            }
            dt {
                flex: 1;
                color: $primary;
                @include font-style($font-size-md, $font-weight-medium, $line-height-base);
            }
            dd {
                @include flex(true, "end", "center", rem(4px));
                .num {
                    color: $primary;
                    @include font-style($font-size-xslg, $font-weight-bold, $line-height-base);
                    letter-spacing: normal;
                }
                em {
                    color: $gray-009;
                    @include font-style($font-size-lg, $font-weight-normal, $line-height-base);
                }
            }
        }
        .alarm-box {
            grid-area: alarm;
            @include flex(true, "start", "center");
            padding: 0 rem(20px);
            width: 100%;
            border-radius: $radius-xsm;
            background: $gray-009;
            box-shadow: 0px 0px 12px 0px rgba($black, 0.08);

            .alarm-txt {
                position: relative;
                padding-left: rem(36px);
                color: $white;
                @include font-style($font-size-base, $font-weight-normal, $line-height-base);
                @include before(true, true, 50%, 0, 0, 0);
                        
                &::before {
                    @extend .icon;
                    @extend .alarm;
                    background-position: left center;
                    background-repeat: no-repeat;
                    background-size: rem(24px);
                    transform: translateY(-50%);
                }
            }
        }
    }
    // admin dashboard layout
    &.admin {
        .contents {
            display: grid;
            grid-template-columns: repeat(3, minmax(rem(493px), 1fr));
            grid-template-areas:
                "title title title"
                "row-box-1 row-box-2 row-box-3"
                "row-box-4 row-box-5 row-box-6"
                "row-box-7 row-box-8 row-box-9";
            grid-template-rows: rem(44px) rem(268px) rem(268px) rem(268px);
            grid-column-gap: rem(40px);
            grid-row-gap: rem(24px);
        }
    }
}
// chart
.chart-box {
    position: relative;
    .row-box-head {
        position: absolute;
        top: rem(22px);
        left: rem(48px);
        z-index: 2;
    }
    .row-box-cont {
        padding: 0 rem(48px);
    }
    .custom-legend {
        @include flex(true, "end", "center", rem(12px));
        position: absolute;
        top: rem(26px);
        right: rem(48px);
        z-index: 2;

        .legend-label {
            position: relative;
            padding-left: rem(13px);
            color: $gray-002;
            @include font-style($font-size-xsm, $font-weight-normal, rem(17px));
            letter-spacing: rem(-0.36px);
            @include before(true, true, 50%, 0, 0, 0);
            &::before {
                width: rem(8px);
                height: rem(8px);
                border-radius: $radius-half;
                transform: translateY(-50%);
            }
            &.usb {
                &::before {
                    background-color: $green-002;
                }
            }
            &.hard {
                &::before {
                    background-color: $blue-007;
                }
            }
            &.cd {
                &::before {
                    background-color: $yellow-001;
                }
            }
        }
    }
    .ag-charts-wrapper {
        width: 100% !important;
        height: rem(268px) !important;
    }
}