<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alert</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
    <!-- script -->
    <script type="module" src="../../../assets/js/common.js"></script>
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Alert</h3>
		</div>
        <div class="alert alert-primary" role="alert">
            A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
    </article>
</body>
</html>