<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Button</h3>
		</div>
        <div class="tbl-wrap">
             <table class="tbl">
                <caption>입력 필드</caption>
                <colgroup>
                    <col width="10%" />
                    <col width="22.5%" />
                    <col width="22.5%" />
                    <col width="22.5%" />
                    <col width="22.5%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>size</th>
                        <th>focus/hover</th>
                        <th>disable</th>
                        <th>readonly</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>normal</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>sm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>md</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>lg</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
             </table>
        </div>
    </article>
</body>
</html>