<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Dropdown</h3>
		</div>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </article>
</body>
</html>