<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icons</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Icons</h3>
		</div>
        <div class="tbl-wrap">
             <table class="tbl">
                <caption>아이콘 리스트</caption>
                <colgroup>
                    <col width="5%" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>color</th>
                        <th>left</th>
                        <th>right</th>
                        <th>up</th>
                        <th>down</th>
                        <th>disable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Arrow</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
             </table>
        </div>
    </article>
</body>
</html>