<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icons</title>
    <!-- css -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
</head>
<body>
    <article class="guide-contents">
        <div class="title">
			<h3>Icons</h3>
		</div>
        <div class="tbl-wrap">
             <table class="tbl">
                <caption>아이콘 리스트</caption>
                <colgroup>
                    <col width="5%" />
                    <col />
                    <col />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>type</th>
                        <th>normal</th>
                        <th>focus</th>
                        <th>disable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>calendar</th>
                        <td></td>
                        <td>
                            <i class="icon calendar" />
                        </td>
                        <td>
                                
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>arrow</th>
                        <td>down</td>
                        <td>
                            <i class="icon arrow-down" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>search</th>
                        <td></td>
                        <td>
                            <i class="icon search" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
             </table>
        </div>
    </article>
</body>
</html>