<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagination</title>
        <!-- css -->
        <link rel="stylesheet" href="../../../assets/css/index.css">
        <!-- script -->
        <script type="module" src="../../../assets/js/common.js"></script>
    </head>
    <body>
        <article class="guide-contents">
            <div class="title">
                <h3>Pagination</h3>
            </div>
            <nav class="page-navigation" aria-label="page navigation">
                <ul class="pagination">
                  <li class="page-item prev"><a class="page-link" href="#">이전</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">7</a></li>
                  <li class="page-item"><a class="page-link" href="#">8</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item disabled"><a class="page-link" href="#">10</a></li>
                  <li class="page-item next disabled"><a class="page-link" href="#">다음</a></li>
                </ul>
            </nav>
        </article>
    </body>
    </html>