<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Step</title>
        <!-- css -->
        <link rel="stylesheet" href="../../../assets/css/index.css">
        <!-- script -->
        <script type="module" src="../../../assets/js/common.js"></script>
    </head>
    <body>
        <article class="guide-contents">
            <div class="title">
                <h3>Step</h3>
            </div>
            <!-- step large start -->
            <!-- step start -->
            <div class="step step-lg">
                <ul class="step-list">
                    <li class="step-current">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-reject">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 김현수</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- step end -->
            <!-- step start -->
            <div class="step step-lg">
                <ul class="step-list">
                    <li class="step-current">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 김현수</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- step end -->
             <!-- step start -->
            <div class="step step-lg">
                <ul class="step-list">
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 김현수</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- step end -->
            <!-- step large end -->

            <!-- step small start -->
            <!-- step start -->
            <div class="step step-sm">
                <ul class="step-list">
                    <li  class="step-current">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-reject">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 김현수</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- step end -->
            <!-- step start -->
            <div class="step step-sm">
                <ul class="step-list">
                    <li  class="step-current">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-default">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 김현수</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- step end -->
             <!-- step start -->
            <div class="step step-sm">
                <ul class="step-list">
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">유지보수담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 손주영</dd>
                        </dl>
                    </li>
                    <li class="step-done">
                        <dl>
                            <dt><i class="step-img"></i></dt>
                            <dd class="txt">제어보호담당자</dd>
                            <dd class="txt">사이버보안팀 김현수</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- step end -->
            <!-- step small end -->
        </article>
    </body>
    </html>