/* Main
========================================================================== */
.main-contents {
    overflow: auto;
    padding: rem(48px) rem(40px) rem(90px);
    width: 100%;
    min-width: calc(rem($device-base-width) - rem($sidebar-width));
    height: 100%;
    max-height: calc(100dvh - $header-height);
    .contents {
        width: 100%;
        height: 100%;
    }
}