/* Utilities
========================================================================== */

// Spacing start
.mt-0 {
    margin-top: 0 !important;
  }
  
  .ms-1 {
    margin-left: ($spacer * .25) !important;
  }
  
  .px-2 {
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
  }
  
  .p-3 {
    padding: $spacer !important;
  }
// Spacing end

// width
.w-348 {
  flex: none !important;
  width: rem(348px) !important;
}
.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50% !important;
}
.w-50r {
  flex: 0 0 rem(50px) !important;
  width: rem(50px) !important;
  min-width: rem(50px) !important;
}
.w-60r {
  flex: 0 0 rem(60px) !important;
  width: rem(60px) !important;
  min-width: rem(60px) !important;
}
.w-80r {
  flex: 0 0 rem(80px) !important;
  width: rem(80px) !important;
  min-width: rem(80px) !important;
}
.w-90r {
  flex: 0 0 rem(90px) !important;
  width: rem(90px) !important;
  min-width: rem(90px) !important;
}
.w-100r {
  flex: 0 0 rem(100px) !important;
  width: rem(100px) !important;
  min-width: rem(100px) !important;
}
.w-110r {
  flex: 0 0 rem(110px) !important;
  width: rem(110px) !important;
  min-width: rem(110px) !important;
}
.w-120r {
  flex: 0 0 rem(120px) !important;
  width: rem(120px) !important;
  min-width: rem(120px) !important;
}
.w-140 {
  flex: 0 0 rem(140px)  !important;
  width: rem(140px) !important;
  min-width: rem(140px) !important;
}
.w-190 {
  flex: 0 0 rem(190px)  !important;
  width: rem(190px) !important;
  min-width: rem(190px) !important;
}